<div class="card">
  <div class="card-body">
    <h4 class="card-title">Mis grupos</h4>
    <sk-custom-table
      [options]="table"
      [items]="groups$ | async"
    ></sk-custom-table>
  </div>
</div>
