<div *ngIf="course$ | async as course; else loading" class="card">
  <div
    class="card-header d-flex align-items-center"
    [style.background]="coursesService.getColor(course)"
    [style.color]="'white'"
  >
    <img
      [src]="coursesService.getIcon(course)"
      [alt]="course.name"
      class="logo me-4"
    />
    <div>
      <h4>
        {{ course.subject.name }} <small>{{ course.plan.name }}</small>
      </h4>
      <h5>
        <i class="fas fa-chalkboard-teacher me-2" aria-hidden="true"></i>
        <span class="me-2" *ngFor="let teacher of course.teachers">{{
          teacher.name
        }}</span>
      </h5>
    </div>
  </div>
  <div class="card-body">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="fas fa-book-reader" aria-hidden="true"></i>
          {{ 'Contents' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <app-content [course]="course"></app-content>
        </ng-template>
      </li>
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="fas fa-video fa-fw" aria-hidden="true"></i>
          {{ 'Meeting' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <app-meetings [course]="course"></app-meetings>
        </ng-template>
      </li>
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="fas fa-calendar-alt" aria-hidden="true"></i>
          {{ 'Schedule' | transloco }}
        </a>
        <ng-template ngbNavContent
          ><app-schedule [course]="course"></app-schedule>
        </ng-template>
      </li>
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="far fa-comments" aria-hidden="true"></i>
          {{ 'Forums' | transloco }}
        </a>
        <ng-template ngbNavContent
          ><app-forums [course]="course"></app-forums>
        </ng-template>
      </li>
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="fas fa-bullhorn" aria-hidden="true"></i>
          {{ 'Announcements' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <app-messages [course]="course"></app-messages>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </div>
</div>
<ng-template #loading>
  <sk-loading-modal></sk-loading-modal>
</ng-template>
