<div class="card">
  <div class="card-body">
    <h4 [ngxSummernoteView]="question.questionText" class="card-title"></h4>
    <div style="position: relative;">
      <canvas
        baseChart
        style="display: block; height: 250px;"
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [chartType]="barChartType"
      >
      </canvas>
    </div>
  </div>
</div>
