body
  overflow-x: hidden

:host(.admin)
  background: var(--gradient-primary)

:host(.student)
  background: var(--gradient-purple)

:host(.teacher)
  background: var(--gradient-secondary)


:host(.teacher),
:host(.admin),
:host(.student)
  width: 220px
  overflow-y: scroll
  position: fixed
  top: 0
  left: 0
  height: 100vh
  z-index: 999
  min-height: 100vh
  padding: 1rem
  -webkit-transition: margin .25s ease-out
  -moz-transition: margin .25s ease-out
  -o-transition: margin .25s ease-out
  transition: margin .25s ease-out
  a.list-group-item
    background-color: unset
    color: var(--gray-100)
  a.list-group-item.active
    color: var(--gray-700)
    border-radius: .5rem
    background-color: #fff !important
    i
      color: var(--primary-600)
  a.list-group-item-action:hover,
  a.list-group-item-action:focus
    background-color: unset
  .dropdown
    padding: .5rem
    margin-bottom: 1rem

.sidebar-heading
  padding: 0.875rem 1.25rem
  padding-bottom: 0
  font-size: 1.2rem
  img
    height: 80px

.list-group
  width: 100%

.list-group-item
  padding: .75rem .75rem
  border: 0
  i
    margin-right: 20px

.bg-light
  background-color: #fff !important

.profile-pic
  height: 50px
  width: 50px
  object-fit: cover
  border-radius: 50%
  border: 2px solid var(--primary-400)
  margin-bottom: .5rem

.profile-name
  color: var(--gray-700)
  font-size: 1rem


.dropdown-toggle:hover
  color: var(--gray-200)
  text-decoration: unset

@media (max-width: 768px)
  .teacher,
  .admin,
  .student
    margin-left: -220px


.school-logo
  max-height: 150px
  margin: auto
