<div class="card">
  <div class="card-body">
    <h4 class="card-title">Exámenes</h4>
    <sk-custom-table
      [items]="exams$ | async"
      [options]="table"
    ></sk-custom-table>
  </div>
</div>
