<div class="card full-container">
  <div class="card-body">
    <h4 class="card-title">
      {{ 'Grades' | transloco }}
    </h4>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="course">{{ 'Course' | transloco }}</label>
          <select
            class="custom-select form-control"
            [(ngModel)]="currentCourse"
            name="course"
            id="course"
          >
            <option [ngValue]="undefined" selected>
              {{ '-Select-' | transloco }}
            </option>
            <option *ngFor="let course of courses$ | async" [ngValue]="course">
              {{ course.name }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <sk-loading-modal *ngIf="loading"></sk-loading-modal>
    <ng-container *ngIf="currentCourse">
      <ul ngbNav #nav="ngbNav" class="nav-pills" [(activeId)]="active">
        <li *ngFor="let period of periods$ | async" [ngbNavItem]="period.sort">
          <a ngbNavLink>{{ period.name }}</a>
          <ng-template ngbNavContent>
            <app-period-grades
              [course]="currentCourse"
              [period]="period"
            ></app-period-grades>
          </ng-template>
        </li>
      </ul>
      <div class="mt-2" [ngbNavOutlet]="nav"></div>
    </ng-container>
  </div>
</div>
