<form [formGroup]="form" (ngSubmit)="saveForm()">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'Evaluation area' | transloco }}</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="close"
      (click)="modal.dismiss()"
    ></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="name">{{ 'Name' | transloco }}</label>
          <input
            type="text"
            class="form-control"
            formControlName="name"
            name="name"
            id="name"
            placeholder="Nombre del área"
          />
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="description">{{ 'Description' | transloco }}</label>
          <textarea
            class="form-control"
            formControlName="description"
            name="description"
            id="description"
            rows="2"
          ></textarea>
        </div>
      </div>
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <div class="dropdown mb-3">
          <button
            class="btn btn-primary dropdown-toggle"
            type="button"
            id="color-selector"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Elegir color
          </button>
          <ul class="dropdown-menu" aria-labelledby="color-selector">
            <li *ngFor="let color of storage.getColors()">
              <div
                class="dropdown-item"
                [class.active]="color === form.get('color').value"
                (click)="setColor(color)"
              >
                <div
                  class="rounded pointer"
                  [style.background]="color"
                  [style.height]="'60px'"
                ></div>
              </div>
            </li>
          </ul>
        </div>
        <div class="dropdown">
          <button
            class="btn btn-primary dropdown-toggle"
            type="button"
            id="icon-selector"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Elegir icono
          </button>
          <ul class="dropdown-menu" aria-labelledby="icon-selector">
            <li *ngFor="let icon of storage.getIcons()">
              <div
                class="dropdown-item"
                [class.active]="icon === form.get('icon').value"
                (click)="setIcon(icon)"
              >
                <img
                  [src]="'assets/icons/course-' + icon + '.svg'"
                  class="img-fluid pointer"
                  [alt]="icon"
                />
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div
        class="col-md-6 d-flex flex-column justify-content-center align-items-center"
      >
        <div
          *ngIf="form.get('color').value"
          class="rounded d-flex flex-column justify-content-center align-items-center pointer mb-2"
          [style.background]="form.get('color').value"
          [style.height]="'100px'"
          [style.width]="'100px'"
        >
          <img
            *ngIf="form.get('icon').value"
            [src]="'assets/icons/course-' + form.get('icon').value + '.svg'"
            class="pointer mb-2"
            [style.height]="'60px'"
            [alt]="form.get('icon').value"
          />
        </div>
      </div>
      <div class="col-md-12 p-1" id="items"  formArrayName="items">
        <table class="table">
          <thead>
            <tr>
              <th>{{ 'Name' | transloco }}</th>
              <th>{{ 'Description' | transloco }}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <ng-container
              *ngFor="let item of form.get('items')['controls']; let i = index"
            >
              <tr [formGroup]="item">
                <td>
                  <input
                    type="text"
                    formControlName="name"
                    class="form-control"
                    name="name-{{ i }}"
                    id="name-{{ i }}"
                    placeholder="Nombre..."
                  />
                </td>
                <td>
                  <input
                    type="text"
                    formControlName="description"
                    class="form-control"
                    name="description-{{ i }}"
                    id="description-{{ i }}"
                    placeholder="Descripción..."
                  />
                </td>
                <td class="text-center">
                  <button
                    type="button"
                    class="btn-close"
                    (click)="removeItem(i)"
                  ></button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <button
          type="button"
          class="btn btn-primary float-end"
          (click)="addItem()"
        >
          <i class="fas fa-plus-circle fa-fw"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="submit"
      [disabled]="!form.valid"
      class="btn btn-primary"
      ngbAutoFocus
    >
      {{ 'Save' | transloco }}
    </button>
  </div>
</form>
