<div class="container">
  <div class="card" *ngFor="let message of messages$ | async">
    <div class="card-body">
      <span class="card-title bold-text"
        ><span [innerHTML]="message.createUser.photoURL | avatar"></span
        >{{ message.createUser.displayName }}
      </span>
      <p>{{ message.createDate | date: 'medium' }}</p>
      <div [ngxSummernoteView]="message.content"></div>
    </div>
  </div>
</div>
