<form [formGroup]="studentForm" (ngSubmit)="saveStudents()">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label class="form-label" for="first-name">{{
          'First name' | transloco
        }}</label>
        <input
          type="text"
          name="first-name"
          id="first-name"
          autocomplete="new-password"
          formControlName="firstName"
          class="form-control"
          placeholder="Primer nombre"
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label class="form-label" for="middle-name">{{
          'Middle name' | transloco
        }}</label>
        <input
          type="text"
          name="middle-name"
          formControlName="middleName"
          id="middle-name"
          class="form-control"
          autocomplete="new-password"
          placeholder="Segundo nombre"
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label class="form-label" for="surname">{{
          'Surname' | transloco
        }}</label>

        <input
          type="text"
          name="surname"
          id="surname"
          formControlName="surname"
          autocomplete="new-password"
          class="form-control"
          placeholder="Apellido"
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label class="form-label" for="second-surname">{{
          'Second surname' | transloco
        }}</label>
        <input
          type="text"
          name="second-surname"
          id="second-surname"
          formControlName="secondSurname"
          autocomplete="new-password"
          class="form-control"
          placeholder="Segundo apellido"
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label class="form-label" for="document-id">{{
          'Document ID' | transloco
        }}</label>
        <input
          type="text"
          name="document-id"
          id="document-id"
          formControlName="documentId"
          autocomplete="new-password"
          class="form-control"
          placeholder="X-XXX-XXXX"
          [class.is-invalid]="
            studentForm.get('documentId').errors &&
            studentForm.get('documentId').errors.exists
          "
        />
        <span
          class="success-text"
          *ngIf="studentForm.get('documentId').status === 'PENDING'"
        >
          {{ 'Checking...' | transloco }}
        </span>

        <span
          class="danger-text"
          *ngIf="
            studentForm.get('documentId').errors &&
            studentForm.get('documentId').errors.exists
          "
        >
          {{ 'This document already exists' | transloco }}
        </span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label class="form-label" for="birth-date">{{
          'Date of birth' | transloco
        }}</label>
        <sk-custom-datepicker
          [id]="'birth-date'"
          [minDate]="minDate"
          [maxDate]="maxDate"
          formControlName="birthDate"
        >
        </sk-custom-datepicker>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label class="form-label" for="gender">{{
          'Gender' | transloco
        }}</label>
        <select
          class="custom-select form-control"
          name="gender"
          id="gender"
          formControlName="gender"
          [compareWith]="compareFn"
        >
          <option [disabled]="true" selected>
            {{ '-Select-' | transloco }}
          </option>
          <option *ngFor="let gender of genders" [ngValue]="gender">
            {{ gender.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label class="form-label" for="plan">{{
          'Study plan' | transloco
        }}</label>
        <sk-custom-select
          [id]="'plan'"
          [items]="plans$ | async"
          [placeholder]="'-Select-' | transloco"
          [displayValue]="'name'"
          (ngModelChange)="getGroups($event)"
          formControlName="plan"
        ></sk-custom-select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label class="form-label" for="group">{{ 'Group' | transloco }}</label>
        <sk-custom-select
          [id]="'group'"
          [items]="groups$ | async"
          [placeholder]="'-Select-' | transloco"
          [displayValue]="'name'"
          [secondaryDisplay]="'studentsCount'"
          [search]="false"
          formControlName="group"
        ></sk-custom-select>
      </div>
    </div>
    <div class="col-md-3 d-flex align-items-center">
      <div class="form-check form-switch">
        <input
          formControlName="active"
          class="form-check-input"
          type="checkbox"
          id="active"
        />
        <label class="form-check-label" for="active">Activo?</label>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label class="form-label" for="address">{{
          'Address' | transloco
        }}</label>

        <textarea
          type="text"
          name="address"
          id="address"
          formControlName="address"
          autocomplete="new-password"
          class="form-control"
          placeholder=" "
        >
        </textarea>
      </div>
    </div>
  </div>
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li [ngbNavItem]>
      <a ngbNavLink>
        <span class="fas fa-user-shield"></span> {{ 'Guardians' | transloco }}
      </a>
      <ng-template ngbNavContent>
        <div formArrayName="guardians">
          <div
            class="card card-parent"
            *ngFor="
              let parent of studentForm.get('guardians')['controls'];
              let i = index
            "
          >
            <div class="card-body">
              <span
                class="fas fa-times float-end"
                (click)="removeGuardian(i)"
              ></span>
              <p class="card-title bold-text">
                {{ 'Guardian' | transloco }} {{ i + 1 }}
              </p>
              <app-guardians-form
                [form]="parent"
                [index]="i"
              ></app-guardians-form>
            </div>
          </div>
        </div>
        <span (click)="addGuardian()" class="text-primary link float-end"
          ><span class="fas fa-user-plus"></span>
          {{ 'Add guardian' | transloco }}</span
        >
      </ng-template>
    </li>
    <li [ngbNavItem]>
      <a ngbNavLink>
        <span class="fas fa-user-shield"></span> {{ 'Parents' | transloco }}
      </a>
      <ng-template ngbNavContent>
        <div class="card">
          <div class="card-body">
            <p class="card-title bold-text">{{ 'Mother info' | transloco }}</p>
            <app-parents-form
              [form]="getChildForm('mother')"
              [parent]="'mother'"
            ></app-parents-form>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <p class="card-title bold-text">{{ 'Father info' | transloco }}</p>
            <app-parents-form
              [form]="getChildForm('father')"
              [parent]="'father'"
            ></app-parents-form>
          </div>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]>
      <a ngbNavLink>
        <span class="fas fa-hospital"></span> {{ 'Medical info' | transloco }}
      </a>
      <ng-template ngbNavContent>
        <app-medical-info
          [form]="getChildForm('medicalInfo')"
        ></app-medical-info>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
  <button
    [disabled]="!studentForm.valid"
    class="btn btn-primary rounded-pill float"
    type="submit"
  >
    <span class="fas fa-save"></span> {{ 'Save changes' | transloco }}
  </button>
</form>
