<div @fade class="card">
  <div class="card-body">
    <h4 class="card-title">
      {{ 'Quizes' | transloco }}
    </h4>
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="fas fa-list-ul"></i>
          {{ 'All quizes' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <sk-custom-table
            [options]="table"
            [items]="quizes$ | async"
            (removeItem)="deleteQuiz($event)"
          ></sk-custom-table>
        </ng-template>
      </li>
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="far fa-clock" aria-hidden="true"></i>
          {{ 'My assignations' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <app-assignations></app-assignations>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>
