@import variables

.form-control
  font-size: inherit
  border-radius: .7rem
  height: unset
  padding-top: .5rem
  padding-bottom: .5rem
  border: 2px solid var(--gray-200)
  background-color: var(--gray-200)
  color: var(--gray-700)
  -webkit-transition : border 300ms ease-out
  -moz-transition : border 300ms ease-out
  -o-transition : border 300ms ease-out
  transition : border 300ms ease-out
  &.form-control-plaintext
    background-color: transparent !important
    border: 2px solid transparent !important
  &::placeholder
    color: var(--gray-500)
  &:active, &:focus
    background: white
    border-color: var(--primary-700)
    box-shadow: none !important
  &:disabled
    background: var(--gray-300)
    border-color: var(--gray-300)
  &.input-warning
    border-color: var(--orange-600)
    color: var(--orange-700)
    background-color: white
  &.input-error
    border-color: var(--danger-600)
    color: var(--danger-700)
    background-color: white
  &.input-success
    border-color: var(--success-600)
    color: var(--success-700)
    background-color: white

.dropdown.show
  .form-control
    background: white
    border-color: var(--primary-700)
    box-shadow: none !important

.search-form
  .form-control
    border-radius: 1.2rem

.form-switch
  .form-check-input:checked
    &.success-check
      background-color: var(--success-600)
      border-color: var(--success-600)
    &.warning-check
      background-color: var(--orange-600)
      border-color: var(--orange-600)
