.tiny-text
  font-size: .5rem

.small-text
  font-size: .75rem

.regular-text
  font-size: .85rem

.normal-text
  font-size: 1rem

.medium-text
  font-size: 1.25rem

.large-text
  font-size: 1.5rem

.huge-text
  font-size: 1.75rem

.titan-text
  font-size: 2.25rem

.mega-text
  font-size: 3.25rem

.thin-text
  font-weight: 200 !important

.light-text
  font-weight: 300 !important

.semi-light-text
  font-weight: 400 !important

.regular-text
  font-weight: 600 !important

.semibold-text
  font-weight: 600 !important

.bold-text
  font-weight: 700 !important

.black-text
  font-weight: bolder !important

.white-text
  color: var(--gray-100)

.ink-text
  color: var(--gray-700)

.clear-text
  color: var(--gray-500)

.primary-text
  color: var(--primary-600) !important

.secondary-text
  color: var(--secondary-700) !important

.success-text
  color: var(--success-700) !important

.danger-text
  color: var(--danger-600) !important

.purple-text
  color: var(--purple-600) !important

.warning-text
  color: var(--orange-600) !important

.dark-text
  color: var(--gray-900) !important

.upper-text
  text-transform: uppercase

.no-margin
  margin: 0 !important

.capitalize
  text-transform: lowercase
  display: inline-block
  &::first-line,
  &::first-letter
    text-transform: capitalize
