/* You can add global styles to this file, and also import other style files */
:root
  --primary-100: #ebf8ff
  --primary-200: #bee3f8
  --primary-300: #90cdf4
  --primary-400: #63b3ed
  --primary-500: #4299e1
  --primary-600: #3182ce
  --primary-700: #2b6cb0
  --primary-800: #2C5282
  --primary-900: #2A4365

  --secondary-100: #e6fffA
  --secondary-200: #B2F5EA
  --secondary-300: #81E6D9
  --secondary-400: #4FD1C5
  --secondary-500: #38B2AC
  --secondary-600: #319795
  --secondary-700: #2C7A7B
  --secondary-800: #285E61
  --secondary-900: #234E52

  --gray-100: #F7FAFC
  --gray-200: #EDF2F7
  --gray-300: #E2E8F0
  --gray-400: #CBD5E0
  --gray-500: #A0AEC0
  --gray-600: #718096
  --gray-700: #4A5568
  --gray-800: #2D3748
  --gray-900: #1A202C

  --success-100: #F0FFF4
  --success-200: #C6F6D5
  --success-300: #9AE6B4
  --success-400: #68D391
  --success-500: #48BB78
  --success-600: #38A169
  --success-700: #2F855A
  --success-800: #276749
  --success-900: #22543D

  --danger-100: #FFF5F5
  --danger-200: #FED7D7
  --danger-300: #FEB2B2
  --danger-400: #FC8181
  --danger-500: #F56565
  --danger-600: #E53E3E
  --danger-700: #C53030
  --danger-800: #9B2C2C
  --danger-900: #742A2A

  --purple-100: #FAF5FF
  --purple-200: #E9D8FD
  --purple-300: #D6BCFA
  --purple-400: #B794F4
  --purple-500: #9F7AEA
  --purple-600: #805AD5
  --purple-700: #6B46C1
  --purple-800: #4E339B
  --purple-900: #2F205D

  --orange-100: #FFF4E8
  --orange-200: #FFE4C5
  --orange-300: #FFD4A0
  --orange-400: #FEC37E
  --orange-500: #FEB258
  --orange-600: #FF9F2F
  --orange-700: #FF8A00
  --orange-800: #D77400
  --orange-900: #975100

  --shadow-default: 4px 6px 10px rgba(0, 0, 0, 0.25)
  --shadow-primary: 4px 6px 30px var(--primary-500)
  --shadow-low: 0px 2px 8px rgba(0, 39, 90, 0.1) !important
  --shadow-medium: 0px 8px 16px rgba(0, 39, 90, 0.15) !important
  --shadow-high: 0px 16px 48px rgba(0, 39, 90, 0.2) !important

  --gradient-primary: linear-gradient(180deg, var(--primary-600) 0%, var(--primary-500) 100%)
  --gradient-secondary: linear-gradient(180deg, var(--secondary-500) 0%, var(--secondary-400) 100%)
  --gradient-purple: linear-gradient(180deg, var(--purple-600) 0%, var(--purple-400) 100%)

  --bs-table-hover-bg: var(--gray-100)

.shadow-default
  box-shadow: var(--shadow-default) !important
  border: none !important

.bg-admin
  background-color: var(--primary-600)

.bg-teacher
  background-color: var(--secondary-600)

.bg-student
  background-color: var(--purple-600)

.card
  &.border-success
    border-color: var(--success-500) !important
    box-shadow: 2px 3px 5px var(--success-300) !important
  &.border-danger
    border-color: var(--danger-500) !important
    box-shadow: 2px 3px 5px var(--danger-300) !important
