<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ 'Messages' | transloco }}</h4>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label" for="user">{{ 'User' | transloco }}</label>
          <sk-custom-select
            id="user"
            [(ngModel)]="user"
            [items]="users$ | async"
            [displayValue]="'displayName'"
            [secondaryDisplay]="'role.name'"
            [placeholder]="'Select sender' | transloco"
          ></sk-custom-select>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <button
          *ngIf="user"
          (click)="getMessages(user.id)"
          type="button"
          class="btn btn-primary"
        >
          Cargar mensajes
        </button>
      </div>
    </div>
    <sk-custom-table
      [options]="table"
      [items]="messages$ | async"
      (removeItem)="delete($event)"
    ></sk-custom-table>
  </div>
</div>
