<div class="row text-center date-header">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        {{ 'Previous' | transloco }}
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        {{ 'Today' | transloco }}
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        {{ 'Next' | transloco }}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate: view + 'ViewTitle':'es-PA':1 }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
      >
        {{ 'Month' | transloco }}
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        {{ 'Week' | transloco }}
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="text-center">
    <sk-loading-modal></sk-loading-modal>
  </div>
</ng-template>
<div class="container-fluid">
  <div *ngIf="assignment$ | async; else loading; let events">
    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        *ngSwitchCase="'month'"
        [viewDate]="viewDate"
        [events]="events"
        [weekStartsOn]="1"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
      >
      </mwl-calendar-month-view>
      <ng-container *ngSwitchCase="'week'">
        <ng-container *ngIf="!isLoading; else loading">
          <div *ngFor="let day of mapped" class="card">
            <div class="card-body">
              <h5 class="card-title">{{ formatDate(day.date) }}</h5>
              <div *ngFor="let task of day.assignments" >
                <div class="card-body">
                  <h6 class="card-title">{{ task.title }} - <small class="clear-text">{{ task.type?.name }}</small></h6>
                  <div [ngxSummernoteView]="task.description"></div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #loading>
          <sk-loading-modal></sk-loading-modal>
        </ng-template>
      </ng-container>

      <mwl-calendar-day-view
        *ngSwitchCase="'day'"
        [viewDate]="viewDate"
        [events]="events"
      >
      </mwl-calendar-day-view>
    </div>
  </div>
</div>
<button
  type="button"
  class="btn btn-primary rounded-pill float-button"
  (click)="createAssignment()"
>
  <i class="fas fa-calendar-alt fa-fw" aria-hidden="true"></i>
  {{ 'New assignment' | transloco }}
</button>
