<div class="card">
  <div class="card-body">
    <ng-container *ngIf="assignation$ | async as assignation">
      <h4 class="card-title">
        {{ assignation.title }}
      </h4>
      <p>
        {{ assignation.course.name }}
      </p>
    </ng-container>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">{{ 'Student' | transloco }}</th>
          <th scope="col">{{ 'Completed' | transloco }}</th>
          <th scope="col">{{ 'Score' | transloco }}</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let result of results$ | async"
          [class.completed]="result.status === 2"
        >
          <th scope="row">{{ result.student.name }}</th>
          <td>
            <span [hidden]="result.status !== 2">
              <i
                class="fa fa-check-circle text-success me-2"
                aria-hidden="true"
              ></i
              >{{ result.modificateDate | customDate: 'time' }}</span
            >
          </td>
          <td>
            <span
              *ngIf="result.status === 2"
              class="badge badge-pill badge-primary"
              >{{ result.points }} / {{ result.totalPoints }}</span
            >
          </td>
          <td class="text-center">
            <button
              *ngIf="result.status === 2"
              type="button"
              class="btn btn-primary btn-sm"
              (click)="seeAnswers(result)"
            >
              Ver respuestas
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
