<div class="row" [formGroup]="form">
  <div class="col-lg-4">
    <div class="form-group">
      <label class="form-label" for="name-{{ index }}">{{ 'Name' | transloco }}</label>
      <input
        type="text"
        name="name-{{ index }}"
        id="name-{{ index }}"
        formControlName="name"
        class="form-control"
        placeholder="Nombre acudiente"
      />
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label class="form-label" for="relation-{{ index }}">{{ 'Relation' | transloco }}</label>
      <select
        class="custom-select form-control"
        name="relation-{{ index }}"
        id="relation-{{ index }}"
        formControlName="relation"
      >
        <option [disabled]="true" [value]="" selected>
          {{ '-Select-' | transloco }}
        </option>
        <option *ngFor="let relation of relations" [value]="relation">
          {{ relation | transloco }}
        </option>
      </select>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="form-group">
      <label class="form-label" for="email-{{ index }}"
        ><span class="fas fa-envelope-open-text"></span>
        {{ 'Email' | transloco }}</label
      >
      <input
        type="email"
        name="email-{{ index }}"
        formControlName="email"
        id="email-{{ index }}"
        class="form-control"
        placeholder="usuario@dominio.com"
      />
    </div>
  </div>
  <div class="col-lg-3">
    <div class="form-group">
      <label class="form-label" for="phone-number-{{ index }}"
        ><span class="fas fa-phone-alt"></span>
        {{ 'Phone number' | transloco }}</label
      >
      <input
        type="tel"
        name="phone-number-{{ index }}"
        formControlName="phoneNumber"
        id="phone-number-{{ index }}"
        class="form-control"
        placeholder="8888-8888"
      />
    </div>
  </div>
  <div class="col-lg-3">
    <div class="form-group">
      <label class="form-label" for="mobile-phone-{{ index }}"
        ><span class="fas fa-mobile-alt"></span>
        {{ 'Mobile phone' | transloco }}</label
      >
      <input
        type="tel"
        name="mobile-phone-{{ index }}"
        formControlName="mobileNumber"
        id="mobile-phone-{{ index }}"
        class="form-control"
        placeholder="8888-8888"
      />
    </div>
  </div>
</div>
