<div class="container">
  <a class="navbar-brand" [routerLink]="['home']">
    <img
      src="/assets/img/skooltrak-logo.svg"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    Skooltrak
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse d-flex justify-content-between"
    id="navbarSupportedContent"
  >
    <span class="navbar-text">
      {{ 'Welcome to Skooltrak' | transloco }}
    </span>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="messages"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          ><i class="far fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
          <span class="badge badge-success rounded-pill">{{
            session.messageCount
          }}</span></a
        >
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="messages">
          <ng-container *ngFor="let message of session.currentInbox | async">
            <a
              *ngIf="!message.read"
              class="dropdown-item"
              [routerLink]="['messaging', message.id]"
            >
              <span class="block regular-text clear-text"
                ><span
                  [innerHTML]="message.reference?.sender?.photoURL | avatar"
                ></span>
                {{ message.reference.sender.displayName }}</span
              >
              <span class="small-text ink-text">{{
                message.reference.title
              }}</span>
              <span class="small-text block text-right dark-text">{{
                message.arrivalDate | timeMessage
              }}</span>
            </a>
          </ng-container>
          <a [routerLink]="['messaging']" class="dropdown-item">
            <span class="block text-center">
              <i class="fas fa-envelope-open-text fa-fw" aria-hidden="true"></i>
              {{ 'See all messages' | transloco }}
            </span>
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link d-flex py-0"
          id="profile"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img [src]="session.getAvatar()" alt="avatar" class="profile-pic" />
          <div class="d-flex flex-column ms-2">
            <span class="block">{{ session.currentUser.displayName }}</span>
            <span class="small-text clear-text">{{
              session.currentStudent?.group.name
            }}</span>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="profile">
          <a class="dropdown-item" [routerLink]="['profile']"
            ><i class="fas fa-user fa-fw" aria-hidden="true"></i>
            {{ 'My profile' | transloco }}</a
          >
          <a class="dropdown-item" [routerLink]="['change-password']"
            ><i class="fas fa-key fa-fw" aria-hidden="true"></i>
            {{ 'Change password' | transloco }}</a
          >

          <a class="dropdown-item" [routerLink]="['/']"
            ><i class="fas fa-sign-out-alt fa-fw" aria-hidden="true"></i>
            {{ 'Sign out' | transloco }}</a
          >
        </div>
      </li>
    </ul>
  </div>
</div>
