<div class="card">
  <div class="card-body">
    <h4 class="card-title">Exámenes</h4>
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="fas fa-list-ul" aria-hidden="true"></i>
          Mis exámenes
        </a>
        <ng-template ngbNavContent>
          <div class="container-fluid">
            <sk-custom-table
              [options]="table"
              [items]="exams$ | async"
              (removeItem)="deleteExam($event)"
            ></sk-custom-table>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="far fa-clock" aria-hidden="true"></i>
          {{ 'My assignations' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <app-assignations></app-assignations>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>
