<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ 'Attendance' | transloco }}</h4>
    <button
      type="button"
      (click)="showAttendanceModal()"
      class="btn btn-primary"
    >
      {{ 'Show modal' | transloco }}
    </button>
  </div>
</div>
