<div class="card">
  <div class="card-body">
    <h4 class="card-title">
      {{ 'Courses' | transloco }}
    </h4>
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li [ngbNavItem]>
        <a ngbNavLink> <i class="fas fa-laptop"></i> Cursos </a>
        <ng-template ngbNavContent>
          <sk-custom-table
            [options]="table"
            [items]="courses$ | async"
            (addItem)="createCourse($event)"
            (editItem)="editCourse($event)"
            (removeItem)="deleteCourse($event)"
          ></sk-custom-table>
        </ng-template>
      </li>
      <li [ngbNavItem]>
        <a ngbNavLink><i class="fas fa-laptop-house"></i> Salones virtuales</a>
        <ng-template ngbNavContent>
          <app-classrooms></app-classrooms>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </div>
</div>
