<div *ngIf="documents$ | async as documents">
  <ng-container *ngFor="let document of documents">
    <div class="row">
      <div class="col-md-3 col-lg-2" *ngIf="!teacherDoc(document)">
        <a class="card doc-card">
          <div
            class="card-body d-flex flex-column justify-content-center"
            (contextmenu)="openMenu($event, document); $event.preventDefault()"
          >
            <img [appFileIcon]="document" class="mb-2 logo" alt="" />
            <div class="file-name text-center">{{ document?.name }}</div>
            <div class="text-center text-muted">
              {{ document?.student?.name }}
            </div>
            <div class="text-center small-text semi-light-text">
              {{ document?.createDate | timeStamp }}
            </div>
          </div>
        </a>
      </div>
    </div>
  </ng-container>
  <div
    *ngIf="!documents.length"
    class="d-flex flex-column align-items-center justify-content-center"
  >
    <img
      src="/assets/img/no-content.svg"
      class="mb-4 mt-5 no-docs"
      alt="No documents"
    />
    <p class="medium-text">No has subido archivos aún</p>
    <button type="button" class="btn btn-primary" (click)="addDocument()">
      <i class="fas fa-cloud-upload-alt fa-fw" aria-hidden="true"></i> Subir
      archivo
    </button>
  </div>
</div>
<ng-template #actionsMenu let-doc>
  <div class="list-group list-group-flush shadow-high bordered">
    <a
      [href]="filesService.getFile(doc.file.id)"
      [download]="true"
      class="list-group-item list-group-item-action"
    >
      <i class="fas fa-download fa-fw text-primary me-4" aria-hidden="true"></i>
      Descargar
    </a>
  </div>
</ng-template>
