<form *ngIf="gradeForm" [formGroup]="gradeForm">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'Grade' | transloco }}</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="close"
      (click)="modal.close('close button')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="title">{{ 'Title' | transloco }}</label>
          <input
            type="text"
            formControlName="title"
            class="form-control"
            name="title"
            id="title"
            aria-describedby="helpId"
            placeholder=""
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="type">{{ 'Type' | transloco }}</label>
          <select
            class="custom-select form-control"
            formControlName="bucket"
            name="type"
            id="type"
            [compareWith]="compareFn"
          >
            <option selected>{{ '-Select-' | transloco }}</option>
            <option *ngFor="let bucket of course.buckets" [ngValue]="bucket">
              {{ bucket.name | transloco }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="date">{{ 'Date' | transloco }}</label>
          <sk-custom-datepicker
            formControlName="date"
            [maxDate]="maxDate"
            [minDate]="minDate"
          ></sk-custom-datepicker>
        </div>
      </div>
    </div>
    <div
      formArrayName="studentsGrades"
      class="card no-border students-container"
    >
      <ul ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="active">
        <ng-container *ngFor="let group of groups$ | async; let i = index">
          <li [ngbNavItem]="i + 1">
            <a ngbNavLink>
              {{ group.name }}
            </a>
            <ng-template ngbNavContent>
              <ng-container
                *ngFor="
                  let student of gradeForm.get('studentsGrades')['controls'];
                  let i = index
                "
              >
                <app-student-grade-item
                  *ngIf="student.value.group?.id === group?.id"
                  [student]="student"
                  [locked]="locked"
                ></app-student-grade-item>
              </ng-container>
            </ng-template>
          </li>
        </ng-container>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      (click)="publish()"
      *ngIf="!grade?.published && grade?.id"
      type="button"
      class="btn btn-secondary"
    >
      <i class="fas fa-newspaper fa-fw" aria-hidden="true"></i>
      {{ 'Publish' | transloco }}
    </button>
    <span *ngIf="grade?.published" class="text-success"
      ><i class="fas fa-check-circle fa-fw" aria-hidden="true"></i>
      {{ 'Published' | transloco }}</span
    >
    <button
      *ngIf="!locked"
      ngbAutofocus
      type="button"
      class="btn btn-primary"
      [disabled]="!gradeForm.valid"
      (click)="save()"
    >
      <i class="far fa-save fa-fw" aria-hidden="true"></i>
      {{ 'Save changes' | transloco }}
    </button>
  </div>
</form>
