<div class="card">
  <div class="card-body">
    <h3 class="card-title">Documentos</h3>
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li [ngbNavItem]>
        <a ngbNavLink>Mis documentos</a>
        <ng-template ngbNavContent>
          <app-my-documents></app-my-documents>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>
