<div class="card">
  <div class="card-body">
    <div *ngIf="exam$ | async; else loading; let exam">
      <h4 class="card-title">
        {{ exam.title }}
        <small class="clear-text">{{ exam.teacher?.name }}</small>
      </h4>
      <h6>{{ exam.course.name }}</h6>
      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li [ngbNavItem] [destroyOnHide]="false">
          <a ngbNavLink> Vista previa </a>
          <ng-template ngbNavContent>
            <app-preview [exam]="exam"></app-preview>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
    </div>
    <ng-template #loading>
      <sk-loading-modal></sk-loading-modal>
    </ng-template>
  </div>
</div>
