<div class="row" [formGroup]="group">
  <div class="col-md-10">
    <div
      id="question-text-{{ index }}"
      [ngxSummernote]="config"
      formControlName="questionText"
    ></div>
  </div>
  <div class="col-md-2">
    <div class="form-label-group">
      <input
        type="number"
        class="form-control"
        name="points"
        formControlName="points"
        id="points-{{ index }}"
      />
      <label for="points-{{ index }}">{{ 'Points' | transloco }}</label>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="form-group">
      <label for="type">Tipo de respuesta</label>
      <select
        class="custom-select form-control"
        formControlName="type"
        (ngModelChange)="changeType($event)"
        name="type"
        [compareWith]="compareType"
        id="type"
      >
        <option *ngFor="let type of types" [ngValue]="type">
          {{ type.name | transloco }}
        </option>
      </select>
    </div>
  </div>
  <div *ngIf="group.get('type').value.code === 0" class="col-md-2 d-flex">
    <div class="form-group">
      <label for="is-true-{{ index }}">Respuesta</label>
      <select
        id="is-true-{{ index }}"
        class="custom-select form-control"
        formControlName="trueFalse"
        name="is-true-{{ index }}"
      >
        <option [ngValue]="true" selected>Cierto</option>
        <option [ngValue]="false">Falso</option>
      </select>
    </div>
  </div>
  <div class="col-md-12">
    <app-selection-options
      *ngIf="group.get('type').value.code === 1"
      [group]="group"
      [index]="index"
      (addOption)="clickAdd()"
      (removeOption)="clickRemove($event)"
    ></app-selection-options>
    <app-match-form
      *ngIf="group.get('type').value.code === 5"
      [group]="group"
      [index]="index"
      (addOption)="clickAddMatch()"
      (removeOption)="clickRemoveMatch($event)"
    ></app-match-form>
  </div>
</div>
