<div class="card shadow-high">
  <div class="card-body">
    <h4 class="card-title">{{ 'Trash' | transloco }}</h4>
    <ng-container *ngIf="messages$ | async as messages; else loading">
      <div
        class="d-flex flex-column justify-content-center no-content-container"
        *ngIf="messages.length === 0"
      >
        <img
          src="assets/img/empty-inbox.svg"
          alt="Empty"
          class="mt-4 no-content"
        />
        <p class="mt-2 text-center medium-text">
          {{ 'No tiene mensajes en la papelera' | transloco }}
        </p>
      </div>
      <ul class="list-group list-unstyled">
        <li *ngFor="let message of messages" class="list-group-item d-flex">
          <div class="col-md-3 col-lg-2 actions">
            <i
              class="fas fa-reply fa-fw text-primary"
              placement="right"
              ngbTooltip="Recuperar"
              (click)="recover(message.id)"
              aria-hidden="true"
            ></i>
            <i
              class="fas fa-trash-alt fa-fw text-danger"
              aria-hidden="true"
              placement="right"
              (click)="delete(message.id)"
              ngbTooltip="Eliminar"
            ></i>
          </div>
          <div class="col-md-3 pointer" (click)="openMessage(message.message)">
            <span>{{ message.reference.sender.displayName }}</span>
          </div>
          <div
            class="col-lg-5 col-md-4 pointer"
            (click)="openMessage(message.message)"
          >
            {{ message.reference.title }}
          </div>
          <div class="col-md-2 pointer" (click)="openMessage(message.message)">
            {{ message.arrivalDate | timeMessage }}
          </div>
        </li>
      </ul>
    </ng-container>
    <ng-template #loading><sk-loading-modal></sk-loading-modal></ng-template>
  </div>
</div>
