<div class="modal-header">
  <h5 class="modal-title">
    {{ 'Attendance' | transloco }}
  </h5>
  <button
    type="button"
    class="btn-close"
    aria-label="close"
    (click)="modal.dismiss('close button')"
  >

  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="group">{{ 'Group' | transloco }}</label>
        <select
          [disabled]="true"
          class="form-control"
          [ngModel]="sheet.group"
          [compareWith]="compareFn"
          name="group"
          id="group"
        >
          <option [ngValue]="sheet.group">{{ sheet.group.name }}</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="period">{{ 'Period' | transloco }}</label>
        <select
          [ngModel]="sheet.period"
          [compareWith]="compareFn"
          [disabled]="true"
          class="custom-select form-control"
          name="period"
          id="period"
        >
          <option [ngValue]="sheet.period">{{ sheet.period.name }}</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="date">{{ 'Date' | transloco }}</label>
        <input
          class="form-control"
          name="date"
          id="date"
          readonly
          disabled
          [ngModel]="formatDate(sheet.date)"
        />
      </div>
    </div>
    <div class="col-md-2 d-flex align-items-end mb-4">
      <button
        type="button"
        (click)="modal.close(sheet)"
        [disabled]="!sheet.group || !sheet.date"
        class="btn btn-primary"
      >
        {{ 'Save' | transloco }}
      </button>
    </div>
  </div>
  <div class="list-group">
    <div
      *ngFor="let student of sheet.students"
      class="list-group-item align-items-center"
    >
      <div class="row align-items-center">
        <div class="col-md-8">
          {{ student.name }}
        </div>
        <div class="col-md-4">
          <select
            class="custom-select form-control"
            name="attendance"
            id="attendance"
            [(ngModel)]="student.status"
            [ngClass]="{
              'input-success': student.status === 1,
              'input-error': student.status === 2,
              'input-warning': student.status === 3
            }"
          >
            <option *ngFor="let option of options" [ngValue]="option.CODE">
              {{ option.DESCRIPTION | transloco }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
