<div class="card">
  <div class="card-body">
    <div class="card-title">
      <h4 class="card-title">{{ 'Announcements' | transloco }}</h4>
      <sk-custom-table
        [options]="table"
        [items]="announcements$ | async"
      ></sk-custom-table>
    </div>
  </div>
</div>
