<div class="card">
  <div class="card-body">
    <h4 class="card-title">
      {{ 'New quiz' | transloco }}
    </h4>
    <app-quizes-form (saveQuiz)="saveQuiz($event)" [isOwner]="true"></app-quizes-form>
  </div>
</div>
