<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ 'Users' | transloco }}</h4>
    <sk-custom-table
      [options]="table"
      [items]="users$ | async"
      (addItem)="createUser($event)"
      (editItem)="updateUser($event)"
      (removeItem)="deleteUser($event)"
    ></sk-custom-table>
  </div>
</div>
