.no-docs
  margin-top: 1rem
  height: 150px

.card-body
  padding: .75rem
  white-space: nowrap
  text-overflow: ellipsis
  .card-title
    margin-bottom: 0

.card-footer
  padding: .35rem .75rem

.card
  color: unset
  &:hover
    box-shadow: 0 20px 40px rgba(2,8,20,.1), 0 0 16px rgba(2,8,20,.08)
    text-decoration: none
    color: unset
