<div class="back">
  <div class="container d-flex align-items-center justify-content-center">
    <div
      class="card-container d-flex align-items-center justify-content-center"
    >
      <div class="col-md-5">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">{{ 'Reset password' | transloco }}</h4>
            <div class="row d-flex align-items-center justify-content-center">
              <img
                src="assets/img/skooltrak-logo.svg"
                class="logo"
                alt="logo"
              />
            </div>
            <div class="d-flex flex-column">
              <div class="form-label-group">
                <input
                  #email
                  autocomplete="new-password"
                  type="email"
                  class="form-control form-control-lg"
                  name="email"
                  id="email"
                  aria-describedby="helpId"
                  placeholder=" "
                />
                <label for="email">{{ 'Email' | transloco }}</label>
              </div>
              <button
                type="button"
                (click)="sendPassword(email.value)"
                class="btn btn-primary"
              >
                {{ 'Send password' | transloco }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
