<div *ngIf="course$ | async as course; else loading" class="card">
  <div
    class="card-header d-flex align-items-center"
    [style.background]="coursesService.getColor(course)"
    [style.color]="'white'"
  >
    <img
      [src]="coursesService.getIcon(course)"
      [alt]="course.name"
      class="logo me-3"
    />
    <div>
      <h4 class="white-text">
        {{ course.subject.name }} <small>{{ course.plan.name }}</small>
      </h4>
      <h5>
        {{ 'Current period' | transloco }}: {{ course.currentPeriod?.name }}
      </h5>
    </div>
  </div>
  <div class="card-body">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="fas fa-book-reader" aria-hidden="true"></i>
          {{ 'Contents' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <app-content [course]="course"></app-content>
        </ng-template>
      </li>
      <li [ngbNavItem] *ngIf="!course.plan.preschool">
        <a ngbNavLink>
          <i class="far fa-check-circle" aria-hidden="true"></i>
          {{ 'Grades' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <app-course-grades [course]="course"></app-course-grades>
        </ng-template>
      </li>
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="fas fa-video fa-fw" aria-hidden="true"></i>
          {{ 'Meeting' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <app-meeting [course]="course"></app-meeting>
        </ng-template>
      </li>
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="fas fa-calendar-alt fa-fw" aria-hidden="true"></i>
          {{ 'Schedule' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <app-course-schedule [course]="course"></app-course-schedule>
        </ng-template>
      </li>
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="fas fa-bullhorn" aria-hidden="true"></i>
          {{ 'Announcements' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <app-courses-messages [course]="course"></app-courses-messages>
        </ng-template>
      </li>
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="far fa-comments" aria-hidden="true"></i>
          {{ 'Forums' | transloco }}
        </a>
        <ng-template ngbNavContent
          ><app-forums [course]="course"></app-forums>
        </ng-template>
      </li>
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="fas fa-history fa-fw" aria-hidden="true"></i>
          {{ 'Attendance' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <app-attendance [course]="course"></app-attendance>
        </ng-template>
      </li>
      <li [ngbNavItem] *ngIf="!course.plan.preschool">
        <a ngbNavLink>
          <i class="fas fa-percent" aria-hidden="true"></i>
          {{ 'Percentage' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <h4 class="card-title">{{ 'Grades distribution' | transloco }}</h4>
          <div class="row d-flex justify-content-center">
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <div
                    *ngFor="let bucket of course.buckets; let i = index"
                    class="form-group row"
                  >
                    <label
                      class="col-md-8 col-form-label"
                      for="bucket-{{ i }}"
                      >{{ bucket.name | transloco }}</label
                    >
                    <div class="col-md-4">
                      <input
                        type="number"
                        name="bucket-{{ i }}"
                        id="bucket-{{ i }}"
                        [(ngModel)]="bucket.weighting"
                        class="form-control"
                        placeholder=""
                        aria-describedby="helpId"
                      />
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <button
                    type="button"
                    (click)="updateCourse(course)"
                    class="btn btn-primary"
                  >
                    {{ 'Save changes' | transloco }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="fas fa-users" aria-hidden="true"></i>
          {{ 'Students' | transloco }}
        </a>
        <ng-template ngbNavContent
          ><app-students [course]="course"></app-students>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </div>
</div>
<ng-template #loading>
  <sk-loading-modal></sk-loading-modal>
</ng-template>
