<div id="wrapper" class="d-flex">
  <app-sidebar [role]="'admin'"></app-sidebar>
  <div id="page-content-wrapper">
    <nav
      app-notifications-bar
      class="navbar navbar-expand-lg navbar-light sticky-top bg-light d-none d-md-flex"
      aria-label="notifications-bar"
    ></nav>
    <nav
      app-top-bar
      [role]="'admin'"
      class="navbar navbar-expand-lg navbar-dark d-block d-md-none"
      aria-label="mobile-bar"
    ></nav>
    <main class="container-fluid">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
