<div class="container">
  <div
    class="card no-border shadow-medium"
    *ngFor="let forum of forums$ | async"
  >
    <div class="card-body" (click)="gotoForum(forum.id)">
      <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-center">
          <p class="title medium-text">{{ forum.name }}</p>
          <p class="regular-text clear-text">{{ forum.description }}</p>
        </div>
      </div>
      <small class="primary-text"
        ><i class="fas fa-clock fa-fw" aria-hidden="true"></i>
        {{ forum.lastPost | timeAgo }} /
      </small>
      <small class="primary-text">
        <i class="fas fa-comment fa-fw" aria-hidden="true"></i>
        {{ forum.posts }}</small
      >
    </div>
  </div>
</div>
<button
  type="button"
  class="btn btn-primary rounded-pill float-button"
  (click)="openModal(content)"
>
  <i class="far fa-comments" aria-hidden="true"></i>

  {{ 'New forum' | transloco }}
</button>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      {{ 'Create forum' | transloco }}
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss()"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="name">{{ 'Name' | transloco }}</label>
        <input
          type="text"
          class="form-control"
          name="name"
          id="name"
          #name
          placeholder="Nombre"
        />
      </div>
      <div class="form-group">
        <label for="description">{{ 'Description' | transloco }}</label>
        <textarea
          class="form-control"
          name="description"
          #description
          id="description"
          rows="3"
        ></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="!name.value.length"
      (click)="
        modal.close({ name: name.value, description: description.value })
      "
    >
      {{ 'Save' | transloco }}
    </button>
  </div>
</ng-template>
