<div class="form-group">
  <div [ngxSummernote]="config" [(ngModel)]="postField"></div>
</div>
<div class="row button-row d-flex justify-content-end">
  <button
    type="button"
    [disabled]="!postField"
    class="btn btn-primary"
    (click)="addPost()"
  >
    <i class="far fa-paper-plane" aria-hidden="true"></i>
    {{ 'Send' | transloco }}
  </button>
</div>
<div
  *ngFor="let post of newPosts"
  class="card post"
  [id]="post.id"
  [class.mine]="postOwn(post)"
>
  <div class="card-body">
    <span class="card-title bold-text">
      <span [innerHTML]="post.createdBy.photoURL | avatar"></span
      >{{
        postOwn(post) ? ('Me' | transloco) : post.createdBy.displayName
      }}</span
    >
    <small class="clear-text"> - {{ post.createDate | timeAgo }}</small>
    <span
      (click)="deletePost(post.id)"
      [hidden]="!postOwn(post)"
      class="float-end"
      placement="top"
      [ngbTooltip]="'Delete' | transloco"
      ><i
        class="fas fa-trash-alt danger-text fa-lg fa-fw"
        aria-hidden="true"
      ></i
    ></span>
    <span
      (click)="replyPost(post)"
      class="float-end"
      placement="top"
      [ngbTooltip]="'Reply' | transloco"
      ><i class="fas fa-reply primary-text fa-lg fa-fw" aria-hidden="true"></i
    ></span>
    <div [ngxSummernoteView]="post.content"></div>
    <div *ngIf="post.type === 'file'" class="row">
      <div class="col-md-6">
        <a
          class="card file-card"
          [href]="filesService.getFile(post.file.file.id)"
          [download]="true"
        >
          <div class="card-body row">
            <div
              class="
                col-md-2 col-3
                d-flex
                align-items-center
                justify-content-center
              "
            >
              <i
                class="fa-lg"
                [class]="getFileIcon(post.file)"
                aria-hidden="true"
              ></i>
            </div>
            <div class="col-md-10 col-9">
              <h6 class="card-title ink-text">{{ post.file.name }}</h6>
              <small *ngIf="post.file.description" class="clear-text">{{
                post.file.description
              }}</small>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div
  *ngFor="let post of posts$ | async"
  class="card post"
  [id]="post.id"
  [class.mine]="postOwn(post)"
>
  <div class="card-body">
    <span class="card-title bold-text">
      <span class="avatar" [innerHTML]="post.createdBy.photoURL | avatar"></span
      >{{
        postOwn(post) ? ('Me' | transloco) : post.createdBy.displayName
      }}</span
    >
    <small class="clear-text"> - {{ post.createDate | timeAgo }}</small>
    <span
      (click)="deletePost(post.id)"
      [hidden]="!postOwn(post)"
      class="float-end"
      placement="top"
      [ngbTooltip]="'Delete' | transloco"
      ><i
        class="fas fa-trash-alt danger-text fa-lg fa-fw"
        aria-hidden="true"
      ></i
    ></span>
    <span
      (click)="replyPost(post)"
      class="float-end"
      placement="top"
      [ngbTooltip]="'Reply' | transloco"
      ><i class="fas fa-reply primary-text fa-lg fa-fw" aria-hidden="true"></i
    ></span>
    <div [ngxSummernoteView]="post.content"></div>
    <div *ngIf="post.type === 'file'" class="row">
      <div class="col-md-6">
        <a
          class="card file-card"
          [href]="filesService.getFile(post.file.file.id)"
          [download]="true"
          [target]="'blank'"
        >
          <div class="card-body row">
            <div
              class="
                col-md-2 col-3
                d-flex
                align-items-center
                justify-content-center
              "
            >
              <i
                class="fa-lg"
                [class]="getFileIcon(post.file)"
                aria-hidden="true"
              ></i>
            </div>
            <div class="col-md-10 col-9">
              <h6 class="card-title ink-text">{{ post.file.name }}</h6>
              <small *ngIf="post.file.description" class="clear-text">{{
                post.file.description
              }}</small>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<button
  type="button"
  class="btn btn-secondary rounded-pill float-button"
  (click)="uploadFile()"
>
  <i class="fas fa-cloud-upload-alt" aria-hidden="true"></i>
  {{ 'Upload file' | transloco }}
</button>
