<div class="card">
  <div class="card-body">
    <h3 class="card-title">{{ 'Skills' | transloco }}</h3>
    <sk-custom-table
      [items]="skills$ | async"
      [options]="table"
      (addItem)="createSkill($event)"
      (editItem)="editSkill($event)"
      (removeItem)="deleteSkill($event)"
    ></sk-custom-table>
  </div>
</div>
