<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ 'Degrees' | transloco }}</h4>
    <sk-custom-table
      [items]="degrees$ | async"
      [options]="table"
      (addItem)="createDegree($event)"
      (editItem)="editDegree($event)"
      (removeItem)="deleteDegree($event)"
    ></sk-custom-table>
  </div>
</div>
