<div class="card">
  <div class="card-body">
    <ng-template #loading>
      <sk-loading-modal></sk-loading-modal>
    </ng-template>
    <ng-container *ngIf="student; else loading">
      <h4 class="card-title">
        <p class="clear-text regular-text no-margin">
          {{ student.group?.name }}
        </p>
        {{ student.fullName }}
        <button type="button" class="btn btn-success btn-sm" [hidden]="true">
          <span class="fas fa-print fa-fw"></span>
          {{ 'Print file' | transloco }}
        </button>
      </h4>
      <ul ngbNav #nav="ngbNav" class="nav-tabs" [destroyOnHide]="false">
        <li [ngbNavItem]>
          <a ngbNavLink>
            {{ 'Personal data' | transloco }}
          </a>
          <ng-template ngbNavContent>
            <app-student-edit [student]="student"></app-student-edit>
          </ng-template>
        </li>
        <li [ngbNavItem]>
          <a ngbNavLink>
            {{ 'Grades' | transloco }}
          </a>
          <ng-template ngbNavContent>
            <app-grades [student]="student"></app-grades>
          </ng-template>
        </li>
        <li [ngbNavItem]>
          <a ngbNavLink>
            {{ 'Statement of account' | transloco }}
          </a>
          <ng-template ngbNavContent>
            <app-balance [student]="student"></app-balance>
          </ng-template>
        </li>
        <li [ngbNavItem]>
          <a ngbNavLink>
            {{ 'Payments' | transloco }}
          </a>
          <ng-template ngbNavContent>
            <app-payments [student]="student"></app-payments>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
    </ng-container>
  </div>
</div>
