<form [formGroup]="student" class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center">
        {{ student.get('student').value?.name }}
      </div>
      <div class="col-md-4">
        <div class="form-group row">
          <label for="score" class="col-sm-6 col-form-label">{{
            'Score' | transloco
          }}</label>
          <div class="col-md-6">
            <input
              (blur)="setMessage()"
              formControlName="score"
              type="number"
              class="form-control form-control-lg"
              name="score"
              [id]="'score-' + student.get('student').value.id"
            />
          </div>
        </div>
      </div>
      <div class="col-md-2 d-flex align-items-center justify-content-center">
        <i
          *ngIf="student.get('comments').value"
          class="fas fa-exclamation-circle fa-lg text-danger"
          aria-hidden="true"
          [ngbTooltip]="student.get('comments').value"
          container="body"
        ></i>
      </div>
    </div>
  </div>
</form>
