<div class="modal-header">
  <h4 class="modal-title">
    {{ result.quiz.name }}
  </h4>
  <button
    type="button"
    class="btn-close"
    aria-label="close"
    (click)="modal.dismiss('close button')"
  >

  </button>
</div>
<div class="modal-body">
  <h5>
    <span class="text-muted">{{ result.student.name }}</span> - Puntaje:
    {{ result.points }} / {{ result.totalPoints }}
  </h5>
  <div
    *ngFor="let answer of result.answers"
    class="card"
    [ngClass]="{
      'border-danger': !answer.selected.isCorrect,
      'border-success': answer.selected.isCorrect
    }"
  >
    <div class="card-body">
      <div
        class="float-end"
        [ngClass]="{
          'text-danger': !answer.selected.isCorrect,
          'text-success': answer.selected.isCorrect
        }"
      >
        Puntos: {{ answer.question.points }}
        <i
          *ngIf="answer.selected.isCorrect"
          class="fas fa-check fa-lg fa-fw"
          aria-hidden="true"
        ></i>
        <i
          *ngIf="!answer.selected.isCorrect"
          class="fas fa-times fa-lg fa-fw"
          aria-hidden="true"
        ></i>
      </div>
      <h5><div [ngxSummernoteView]="answer.question.questionText"></div></h5>
      <div
        class="option d-flex align-items-center mb-2"
        *ngFor="let option of answer.question.options"
      >
        <i
          *ngIf="option.optionText !== answer.selected.optionText"
          class="far fa-circle fa-lg me-2 text-muted"
          aria-hidden="true"
        ></i>
        <i
          *ngIf="option.optionText === answer.selected.optionText"
          class="fas fa-check-circle fa-lg me-2"
          [ngClass]="{
            'fa-check-circle text-success': answer.selected.isCorrect,
            'fa-times-circle text-danger': !answer.selected.isCorrect
          }"
          aria-hidden="true"
        ></i>
        <div [ngxSummernoteView]="option.optionText"></div>
        <span
          *ngIf="option.isCorrect"
          class="ms-3 badge badge-pill badge-success"
          >Respuesta correcta</span
        >
      </div>
    </div>
  </div>
</div>
