<div class="card">
  <div class="card-body">
    <h2 class="card-title">{{ 'Messages' | transloco }}</h2>
    <div class="row">
      <div class="col-xl-2 col-lg-3">
        <div class="list-group">
          <a
            [routerLink]="['inbox']"
            class="list-group-item list-group-item-action mb-2"
            routerLinkActive="active"
            ><i class="fas fa-inbox fa-fw me-3" aria-hidden="true"></i>
            {{ 'Inbox' | transloco }}</a
          >
          <a
            [routerLink]="['outbox']"
            class="list-group-item list-group-item-action mb-2"
            routerLinkActive="active"
            ><i class="far fa-paper-plane fa-fw me-3" aria-hidden="true"></i
            >{{ 'Outbox' | transloco }}</a
          >
          <a
            [routerLink]="['trash']"
            class="list-group-item list-group-item-action"
            routerLinkActive="active"
            ><i class="fas fa-trash-alt fa-fw me-3" aria-hidden="true"></i> {{ 'Trash' | transloco }}</a
          >
        </div>
      </div>
      <div class="col">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<button
  type="button"
  class="btn btn-primary float-button rounded-pill"
  (click)="composeMessage()"
>
  <i class="far fa-envelope-open fa-fw" aria-hidden="true"></i>
  {{ 'Compose' | transloco }}
</button>
