<form [formGroup]="form">
  <div class="modal-header">
    <h5 *ngIf="!video" class="modal-title">{{ 'New video' | transloco }}</h5>
    <h5 *ngIf="video" class="modal-title">{{ 'Edit video' | transloco }}</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="close"
      (click)="modal.dismiss('close button')"
    ></button>
  </div>
  <div class="modal-body">
    <div [hidden]="video" class="col-md-12">
      <div class="form-group">
        <input
          type="file"
          class="form-control-file"
          name="document"
          id="document"
          accept="video/mp4, video/quicktime"
          (change)="setFile($event)"
          placeholder="Cargar archivo"
        />
      </div>
    </div>
    <div *ngIf="videoFile" class="col-md-12 row justify-content-center">
      <div class="col-md-10 text-center">
        {{ 'Preview' | transloco }}
        <app-video-player
          [options]="{
            autoplay: false,
            aspectRatio: '16:9',
            controls: true,
            sources: [{ src: videoURL, type: 'video/mp4' }]
          }"
        ></app-video-player>
        <button
          type="button"
          *ngIf="!form.get('file').value"
          (click)="upload()"
          class="btn btn-primary mt-2"
        >
          <ng-template #loading>
            <i class="fas fa-spinner fa-spin" aria-hidden="true"></i>
            {{ 'Uploading' | transloco }}
          </ng-template>
          <span *ngIf="!isLoading; else loading">
            <i class="fas fa-file-upload fa-fw" aria-hidden="true"></i>
            {{ 'Upload' | transloco }}
          </span>
        </button>
        <div
          *ngIf="form.get('file').value"
          class="mt-3 medium-text text-success"
        >
          <i class="fas fa-check-circle fa-fw" aria-hidden="true"></i>
          {{ 'Done' | transloco }}
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <div class="form-group">
          <label for="title">{{ 'Title' | transloco }}</label>
          <input
            type="text"
            class="form-control"
            formControlName="title"
            name="title"
            id="title"
            placeholder="Título del video..."
          />
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label for="description">{{ 'Description' | transloco }}</label>
        <textarea
          class="form-control"
          name="description"
          formControlName="description"
          id="description"
          rows="3"
        ></textarea>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label for="courses">{{ 'Courses' | transloco }}</label>
        <sk-custom-select
          [items]="courses$ | async"
          [multiple]="true"
          [displayValue]="'name'"
          [placeholder]="'Select courses' | transloco"
          formControlName="courses"
        ></sk-custom-select>
      </div>
    </div>
    <div class="col-md-12">
      <div class="custom-control custom-switch">
        <input
          type="checkbox"
          class="custom-control-input"
          formControlName="published"
          id="customSwitch1"
        />
        <label class="custom-control-label" for="customSwitch1">Publicar</label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      [disabled]="!form.valid"
      class="btn btn-primary"
      (click)="modal.close(form.value)"
    >
      {{ 'Save' | transloco }}
    </button>
  </div>
</form>
