<div class="dropdown" [ngClass]="{ show: showDropdown }">
  <div
    class="form-control d-flex align-items-center justify-content-between input-container"
    (click)="toggleShow()"
  >
    <div>
      <span class="font-weight-bold" [innerHTML]="valueDisplay()"></span>
      <span *ngIf="!valueDisplay()" [innerHTML]="placeholder"></span>
    </div>
    <div><i class="fas fa-sort" aria-hidden="true"></i></div>
  </div>
  <div class="dropdown-menu shadow-medium" [ngClass]="{ show: showDropdown }">
    <div [hidden]="!search" class="form-group search-form mb-2 dropdown-item">
      <input
        type="text"
        autocomplete="new-text"
        name="search"
        [(ngModel)]="filterValue"
        (ngModelChange)="filterItems()"
        id="search"
        class="form-control form-control-sm"
        placeholder="Buscar"
      />
    </div>
    <div class="items-container">
      <a
        *ngFor="let item of filteredItems"
        (click)="toggleItem(item)"
        class="dropdown-item px-3 py-2 d-flex align-items-center justify-content-between"
        [ngClass]="{ selected: item.selected }"
      >
        <ng-container *ngIf="multiple">
          <div class="main-container">
            <i
              [hidden]="item.selected"
              class="far fa-square fa-fw text-muted"
              aria-hidden="true"
            ></i>
            <i
              [hidden]="!item.selected"
              class="fas fa-check-square fa-fw text-success"
              aria-hidden="true"
            ></i>
            {{ item[displayValue] }}
          </div>
        </ng-container>
        <div class="main-container" *ngIf="!multiple">
          {{ item[displayValue] }}
        </div>
        <div *ngIf="secondaryDisplay">
          <small class="clear-text">{{
            item | column: secondaryDisplay
          }}</small>
        </div>
      </a>
      <h5 *ngIf="!filteredItems?.length" class="text-center my-3">
        {{ 'No items' | transloco }}
      </h5>
    </div>
    <div class="buttom-row d-flex justify-content-between">
      <div>
        <a class="btn btn-link" role="button" (click)="clearAll()">{{
          'Clear all' | transloco
        }}</a>
      </div>
      <div>
        <button
          type="button"
          class="btn btn-primary btn-sm"
          (click)="toggleShow()"
        >
          {{ 'Save' | transloco }}
        </button>
      </div>
    </div>
  </div>
</div>
