.dropdown-menu
  max-width: 100%
  min-width: 100%
  .form-group
    margin: unset

.dropdown-item
  overflow: hidden
  flex-wrap: wrap
  .main-container
    flex-basis: 80%
    overflow: hidden
  div
    text-overflow: ellipsis

.dropdown-item
  padding: .25rem .5rem
  font-weight: unset
  .far,
  .fas
    margin-right: 10px
  &.selected
    font-weight: bold
    color: #2A4365
    background-color: #E2E8F0

.items-container
  max-height: 150px
  overflow: scroll

.buttom-row
  padding: .25rem .5rem

.input-container
  overflow-x: hidden
