<ng-container *ngIf="grades$ | async; else loading; let grades">
  <table *ngIf="grades.length" class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo</th>
        <th scope="col">Fecha</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let grade of grades">
        <td>{{ grade.title }}</td>
        <td>{{ grade.bucket.name | transloco }}</td>
        <td>{{ grade.date | date: 'longDate' }}</td>
        <td class="text-center">
          <button
            type="button"
            class="btn btn-primary btn-sm"
            (click)="showModal(grade)"
          >
            <i class="fas fa-search fa-fw" aria-hidden="true"></i> Detalles
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div
    class="d-flex flex-column align-items-center justify-content-center p-2"
    *ngIf="!grades.length"
  >
    <img src="assets/img/no-grades.svg" alt="No grades" class="no-grades" />
    <p class="medium-text mt-2">
      {{ 'No grades yet for this period' | transloco }}
    </p>
    <button type="button" class="btn btn-primary mt-2">
      {{ 'Add grade' | transloco }}
    </button>
  </div>
</ng-container>
<ng-template #loading>
  <sk-loading-modal></sk-loading-modal>
</ng-template>
