<div *ngIf="course$ | async as course; else loading" class="card">
  <div class="card-body">
    <h4 class="card-title">
      {{ course.subject.name }} <small>{{ course.plan.name }}</small>
    </h4>
    <p>
      <span
        class="badge badge-pill badge-primary"
        *ngFor="let teacher of course.teachers"
        >{{ teacher.name }}</span
      >
    </p>
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="fas fa-clipboard-check" aria-hidden="true"></i>
          {{ 'Grades' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <app-grades [course]="course"></app-grades>
        </ng-template>
      </li>
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="far fa-file-pdf" aria-hidden="true"></i>
          {{ 'Files' | transloco }}
        </a>
        <ng-template ngbNavContent
          ><app-documents [course]="course"></app-documents>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </div>
</div>
<ng-template #loading>
  <sk-loading-modal></sk-loading-modal>
</ng-template>
