<div class="card">
  <div class="card-body">
    <h3 class="card-title">{{ 'My courses' | transloco }}</h3>
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li [ngbNavItem]>
        <a ngbNavLink> <i class="fas fa-laptop"></i> Cursos </a>
        <ng-template ngbNavContent>
          <div class="px-3">
            <app-list></app-list>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]>
        <a ngbNavLink><i class="fas fa-laptop-house"></i> Salones virtuales</a>
        <ng-template ngbNavContent>
          <app-classrooms></app-classrooms>
        </ng-template>
      </li>
    </ul>
    <div class="mt-2" [ngbNavOutlet]="nav"></div>
  </div>
</div>
