<div class="row">
  <div class="col-md-9">
    <div class="card">
      <div class="card-body">
        <ul ngbNav #nav="ngbNav" class="nav-pills">
          <li [ngbNavItem] [destroyOnHide]="false">
            <a ngbNavLink>
              {{ 'Schedule' | transloco }}
            </a>
            <ng-template ngbNavContent>
              <app-schedule></app-schedule>
            </ng-template>
          </li>
          <li [ngbNavItem] [destroyOnHide]="false">
            <a ngbNavLink>{{ 'Timetable' | transloco }}</a>
            <ng-template ngbNavContent>
              <app-time-table></app-time-table>
            </ng-template>
          </li>
          <li [ngbNavItem]>
            <a ngbNavLink>{{ 'Performance' | transloco }}</a>
            <ng-template ngbNavContent>
              <app-performance></app-performance>
            </ng-template>
          </li>
        </ul>
        <div class="mt-2" [ngbNavOutlet]="nav"></div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <ng-container *ngIf="currentSurveys$ | async as surveys">
      <div class="card shadow-medium" *ngIf="surveys.length > 0">
        <div class="card-body">
          <h4 class="card-title">{{ 'Surveys' | transloco }}</h4>
          <div
            *ngFor="let quiz of surveys"
            (click)="answerSurvey(quiz.id)"
            class="card shadow-medium"
          >
            <div class="card-body">
              <h6 class="card-title">
                {{ quiz.title }}
              </h6>
              <i
                class="far fa-clock text-danger fa-lg fa-fw"
                aria-hidden="true"
              ></i>
              {{ 'Due time' | transloco }} {{ formatDue(quiz.endDate) }}
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="quizes$ | async as quizes">
      <div *ngIf="quizes.length > 0" class="card">
        <div class="card-body">
          <h4 class="card-title">{{ 'Quizes' | transloco }}</h4>
          <div
            *ngFor="let quiz of quizes"
            [routerLink]="['/student/quizes', quiz.id]"
            class="card quiz-card"
          >
            <div class="card-body">
              <h6 class="card-title">
                <span class="clear-text">{{ quiz.course.subject.name }}</span> -
                {{ quiz.quiz.name }}
              </h6>
              <i
                class="far fa-clock text-danger fa-lg fa-fw"
                aria-hidden="true"
              ></i>
              {{ 'Due time' | transloco }} {{ formatDue(quiz.endDate) }}
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ 'Activities' | transloco }}</h4>
        <div class="activities-container">
          <div
            *ngFor="let activity of activities$ | async"
            class="card activity-card"
            [routerLink]="['/student/courses', activity.course.id]"
          >
            <div class="card-body">
              <h6 class="regular-text">
                <i
                  *ngIf="activity.type === 4"
                  class="fas fa-book-reader fa-fw fa-lg text-primary"
                  aria-hidden="true"
                ></i>
                <i
                  *ngIf="activity.type === 5"
                  class="far fa-file-pdf fa-fw fa-lg danger-text"
                  aria-hidden="true"
                ></i>
                {{ activity.course.subject.name }}
              </h6>
              <p class="ink-text">
                {{ activity.createDate | date: 'd/M/yy, h:mm a' }}
              </p>
              <p class="small-text clear-text">{{ activity.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
