<form [formGroup]="assignationForm" (ngSubmit)="save()">
  <div class="modal-header">
    <h5 class="modal-title">Asignación de examen</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="close"
      (click)="modal.dismiss()"
    ></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="title">{{ 'Title' | transloco }}</label>
          <input
            type="text"
            class="form-control"
            name="title"
            formControlName="title"
            id="title"
            aria-describedby="helpId"
            placeholder="Título de la asignación..."
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="group">{{ 'Group' | transloco }}</label>
          <select
            class="form-control custom-select"
            formControlName="group"
            name="group"
            [compareWith]="compareFn"
            id="group"
          >
            <option *ngFor="let group of groups$ | async" [ngValue]="group">
              {{ group.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="start-date">{{ 'Start date' | transloco }}</label>
          <sk-custom-datepicker
            id="start-date"
            name="start-date"
            formControlName="startDate"
          >
          </sk-custom-datepicker>
          <ngb-timepicker
            [meridian]="true"
            formControlName="startHours"
          ></ngb-timepicker>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="end-date">{{ 'End date' | transloco }}</label>
          <sk-custom-datepicker
            id="end-date"
            name="end-date"
            formControlName="endDate"
          ></sk-custom-datepicker>
          <ngb-timepicker
            [meridian]="true"
            formControlName="endHours"
          ></ngb-timepicker>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="minutes">Duración (minutos)</label>
          <input
            type="number"
            class="form-control"
            name="minutes"
            formControlName="minutes"
            id="minutes"
            aria-describedby="helpId"
          />
          <small id="helpId" class="form-text text-muted"
            >0 = sin límite de tiempo</small
          >
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      [disabled]="!assignationForm.valid"
      type="submit"
      class="btn btn-primary"
    >
      {{ 'Guardar' }}
    </button>
  </div>
</form>
