<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ 'Students' | transloco }}</h4>
    <ul ngbNav #nav="ngbNav" [destroyOnHide]="false" class="nav-tabs">
      <li ngbNavItem>
        <a ngbNavLink
          ><i class="fas fa-school" aria-hidden="true"></i>
          {{ 'Regular students' | transloco }}</a
        >
        <ng-template ngbNavContent>
          <div class="container-fluid">
            <sk-custom-table
              [options]="table"
              [items]="students$ | async"
              (removeItem)="deleteStudent($event)"
            ></sk-custom-table>
          </div>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>
          <i class="fas fa-chalkboard-teacher" aria-hidden="true"></i>
          {{ 'Temporary students' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <app-temporary></app-temporary>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>
          {{ 'Inactive students' | transloco }}
        </a>
        <ng-template ngbNavContent>
          <app-inactive></app-inactive>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>
