<form [formGroup]="schoolForm" class="container" (ngSubmit)="saveChanges()">
  <div class="row">
    <div class="col-md-6 text-center">
      <div class="row">
        <div
          class="col-sm d-flex flex-column justify-content-center align-items-center"
        >
          <img
            class="logo-container"
            [src]="schoolServ.getLogo(school)"
            alt=""
          />
        </div>
        <div
          class="col-sm d-flex flex-column justify-content-center align-items-center"
        >
          <button
            (click)="changeLogo($event)"
            type="file"
            class="btn btn-primary"
          >
            Cambiar insignia
          </button>
        </div>
      </div>
      <input
        class="invisible"
        (change)="setLogo($event)"
        accept="image/*"
        type="file"
        name="logo"
        id="logo"
      />
    </div>
    <div class="col-md-6 form-label-group">
      <input
        type="text"
        class="form-control"
        name="name"
        id="name"
        formControlName="name"
        placeholder=" "
      />
      <label for="name">{{ 'Name' | transloco }}</label>
    </div>
    <div class="col-md-6 form-label-group">
      <input
        type="text"
        class="form-control"
        name="short-name"
        id="short-name"
        formControlName="shortName"
        placeholder=" "
      />
      <label for="short-name">{{ 'Short name' | transloco }}</label>
    </div>
    <div class="col-lg-4 form-label-group">
      <select
        class="custom-select form-control"
        name="current-year"
        id="current-year"
        formControlName="currentYear"
      >
        <option [disabled]="true" [value]="">
          {{ '-Select-' | transloco }}
        </option>
        <option [value]="2019">2019</option>
        <option [value]="2020">2020</option>
        <option [value]="2021">2021</option>
        <option [value]="2022">2022</option>
        <option [value]="2023">2023</option>
        <option [value]="2024">2024</option>
        <option [value]="2025">2025</option>
      </select>
      <label for="current-year">{{ 'Current year' | transloco }}</label>
    </div>
    <div class="col-md-6 form-label-group">
      <input
        type="text"
        class="form-control"
        name="motto"
        id="motto"
        formControlName="motto"
        placeholder=" "
      />
      <label for="motto">{{ 'Motto' | transloco }}</label>
    </div>
    <div class="col-md-6 form-label-group">
      <input
        type="url"
        class="form-control"
        name="website"
        id="website"
        formControlName="website"
        placeholder=" "
      />
      <label for="website">{{ 'Web site' | transloco }}</label>
    </div>
    <div class="col-md-12 form-label-group">
      <input
        type="text"
        class="form-control"
        name="address"
        id="address"
        formControlName="address"
        placeholder=" "
      />
      <label for="address">{{ 'Address' | transloco }}</label>
    </div>
  </div>
  <div id="contacts" formArrayName="contacts">
    <h5 class="card-title">{{ 'Contacts' | transloco }}</h5>
    <div
      class="row contact-row"
      *ngFor="
        let contact of schoolForm.get('contacts')['controls'];
        let i = index
      "
    >
      <div class="col-md-11">
        <app-contact-form
          [form]="schoolForm.get('contacts')['controls'][i]"
          [index]="i"
        ></app-contact-form>
      </div>
      <div class="col-md-1 d-flex flex-column justify-content-center">
        <span
          class="fas fa-trash-alt fa-lg text-danger"
          (click)="removeContact(i)"
        ></span>
      </div>
    </div>
  </div>
  <span (click)="addContact()" class="text-primary link float-end"
    ><span class="fas fa-user-plus"></span>
    {{ 'Add contact' | transloco }}</span
  >
  <button
    [disabled]="!schoolForm.valid || !schoolForm.dirty"
    class="btn btn-primary rounded-pill float-button"
    type="submit"
  >
    <span class="fas fa-save"></span> {{ 'Save changes' | transloco }}
  </button>
</form>
