<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ 'Surveys' | transloco }}</h4>
    <sk-custom-table
      [items]="surveys$ | async"
      [options]="table"
    ></sk-custom-table>
  </div>
</div>
