<div class="card">
  <div class="card-body">
    <h3 class="card-title">{{ 'Settings' | transloco }}</h3>
    <div class="row">
      <div class="col-md-3">
        <div
          (click)="goToSetting('subjects')"
          class="card shadow-medium setting-card"
        >
          <div
            class="card-body d-flex flex-column align-items-center justify-content-center"
          >
            <span class="fas fa-chalkboard text-primary light fa-3x"></span>
            <h5 class="link-name text-center mt-2">
              {{ 'Subjects' | transloco }}
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div
          (click)="goToSetting('plans')"
          class="card shadow-medium setting-card"
        >
          <div
            class="card-body d-flex flex-column align-items-center justify-content-center"
          >
            <span class="fas fa-passport text-primary light fa-3x"></span>
            <h5 class="link-name text-center mt-2">
              {{ 'Study plans' | transloco }}
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div
          (click)="goToSetting('degrees')"
          class="card shadow-medium setting-card"
        >
          <div
            class="card-body d-flex flex-column align-items-center justify-content-center"
          >
            <span class="fas fa-graduation-cap text-primary light fa-3x"></span>
            <h5 class="link-name text-center mt-2">
              {{ 'Degrees' | transloco }}
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div
          (click)="goToSetting('skills')"
          class="card shadow-medium setting-card"
        >
          <div
            class="card-body d-flex flex-column align-items-center justify-content-center"
          >
            <span class="fas fa-certificate text-primary light fa-3x"></span>
            <h5 class="link-name text-center mt-2">
              {{ 'Skills' | transloco }}
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div
          (click)="goToSetting('schools')"
          class="card shadow-medium setting-card"
        >
          <div
            class="card-body d-flex flex-column align-items-center justify-content-center"
          >
            <span class="fas fa-school text-primary light fa-3x"></span>
            <h5 class="link-name text-center mt-2">
              {{ 'Schools' | transloco }}
            </h5>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div
          (click)="goToSetting('assignment-types')"
          class="card shadow-medium setting-card"
        >
          <div
            class="card-body d-flex flex-column align-items-center justify-content-center"
          >
            <span class="far fa-check-circle text-primary light fa-3x"></span>
            <h5 class="link-name text-center mt-2">
              {{ 'Assignment types' | transloco }}
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div
          (click)="goToSetting('messages')"
          class="card shadow-medium setting-card"
        >
          <div
            class="card-body d-flex flex-column align-items-center justify-content-center"
          >
            <span class="far fa-envelope text-primary light fa-3x"></span>
            <h5 class="link-name text-center mt-2">
              {{ 'Messages' | transloco }}
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div
          (click)="goToSetting('periods')"
          class="card shadow-medium setting-card"
        >
          <div
            class="card-body d-flex flex-column align-items-center justify-content-center"
          >
            <span class="far fa-calendar-alt text-primary light fa-3x"></span>
            <h5 class="link-name text-center mt-2">
              {{ 'Periods' | transloco }}
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div
          (click)="goToSetting('cleaning')"
          class="card shadow-medium setting-card"
        >
          <div
            class="card-body d-flex flex-column align-items-center justify-content-center"
          >
            <span class="fas fa-recycle text-primary light fa-3x"></span>
            <h5 class="link-name text-center mt-2">
              {{ 'Cleaning' | transloco }}
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
