<div @fade class="row">
  <div class="col-md-9">
    <div class="card">
      <div class="card-body">
        <ul ngbNav #nav="ngbNav" class="nav-pills">
          <li [ngbNavItem] [destroyOnHide]="false">
            <a ngbNavLink>
              {{ 'Schedule' | transloco }}
            </a>
            <ng-template ngbNavContent>
              <h4 class="card-title">{{ 'Schedule' | transloco }}</h4>
              <div class="row text-center">
                <div class="col-md-4">
                  <div class="btn-group">
                    <div
                      class="btn btn-primary btn-sm"
                      mwlCalendarPreviousView
                      [view]="view"
                      [(viewDate)]="viewDate"
                      (viewDateChange)="closeOpenMonthViewDay()"
                      [excludeDays]="excludeDays"
                    >
                      <i class="fas fa-backward fa-fw" aria-hidden="true"></i>
                    </div>
                    <div
                      class="btn btn-outline-secondary btn-sm"
                      mwlCalendarToday
                      [(viewDate)]="viewDate"
                      (viewDateChange)="closeOpenMonthViewDay()"
                    >
                      {{ 'Today' | transloco }}
                    </div>
                    <div
                      class="btn btn-primary btn-sm"
                      mwlCalendarNextView
                      [view]="view"
                      [(viewDate)]="viewDate"
                      (viewDateChange)="closeOpenMonthViewDay()"
                      [excludeDays]="excludeDays"
                    >
                      <i class="fas fa-forward fa-fw" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <h6>
                    {{
                      viewDate
                        | calendarDate
                          : view + 'ViewTitle'
                          : 'es-PA'
                          : weekStartsOn
                          : excludeDays
                    }}
                  </h6>
                </div>
                <div class="col-md-4">
                  <div class="btn-group">
                    <div
                      class="btn btn-primary btn-sm"
                      (click)="setView(CalendarView.Month)"
                      [class.active]="view === CalendarView.Month"
                    >
                      {{ 'Month' | transloco }}
                    </div>
                    <div
                      class="btn btn-primary btn-sm"
                      (click)="setView(CalendarView.Week)"
                      [class.active]="view === CalendarView.Week"
                    >
                      {{ 'Week' | transloco }}
                    </div>
                  </div>
                </div>
              </div>
              <ng-template #loading>
                <div class="text-center">
                  <sk-loading-modal></sk-loading-modal>
                </div>
              </ng-template>
              <div class="schedule-container">
                <div *ngIf="assignment$ | async; else loading; let events">
                  <div [ngSwitch]="view">
                    <mwl-calendar-month-view
                      *ngSwitchCase="'month'"
                      [viewDate]="viewDate"
                      [events]="events"
                      [weekStartsOn]="weekStartsOn"
                      [activeDayIsOpen]="activeDayIsOpen"
                      (dayClicked)="dayClicked($event.day)"
                      [excludeDays]="excludeDays"
                      (eventClicked)="selectDay($event.event)"
                    >
                    </mwl-calendar-month-view>
                    <ng-container *ngSwitchCase="'week'">
                      <div *ngIf="!isLoading; else loading" class="week">
                        <div *ngFor="let day of mapped" class="day-division">
                          <div>
                            <h5 class="card-title ms-2">
                              {{ formatDate(day.date) }}
                            </h5>
                            <div
                              class="card shadow-medium pointer mb-3"
                              *ngFor="let task of day.assignments"
                              [routerLink]="['..', 'assignments', task.id]"
                            >
                              <div
                                class="card-header"
                                [style.background]="
                                  coursesService.getColor(task.course)
                                "
                                [style.color]="'white'"
                              >
                                <h6 class="mb-0">
                                  {{ task.course?.subject.name }}
                                </h6>
                              </div>
                              <div class="card-body assignment">
                                <h6
                                  class="card-title medium-text semibold-text"
                                >
                                  {{ task.title }} -
                                  <small class="clear-text">{{
                                    task.type?.name
                                  }}</small>
                                </h6>
                                <span
                                  class="badge badge-pill badge-primary me-2"
                                >
                                  <i
                                    class="fas fa-chalkboard-teacher fa-fw"
                                    aria-hidden="true"
                                  ></i>
                                  {{ task.group?.name }}</span
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <ng-template #loading>
                        <sk-loading-modal></sk-loading-modal>
                      </ng-template>
                    </ng-container>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem] [destroyOnHide]="false">
            <a ngbNavLink>{{ 'Timetable' | transloco }}</a>
            <ng-template ngbNavContent>
              <app-timetable></app-timetable>
            </ng-template>
          </li>
        </ul>
        <div class="mt-2" [ngbNavOutlet]="nav"></div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ 'Activities' | transloco }}</h4>
        <div class="activities-container">
          <div
            *ngFor="let activity of activities$ | async"
            class="card activity-card"
            [routerLink]="['../courses', activity.course.id]"
          >
            <div class="card-body">
              <h6 class="regular-text">
                <i
                  *ngIf="activity.type === 4"
                  class="fas fa-book-reader fa-fw fa-lg text-primary"
                  aria-hidden="true"
                ></i>
                <i
                  *ngIf="activity.type === 5"
                  class="far fa-file-pdf fa-fw fa-lg danger-text"
                  aria-hidden="true"
                ></i>
                {{ activity.course.subject.name }}
              </h6>
              <p class="ink-text">
                {{ activity.createDate | date: 'd/M/yy, h:mm a' }}
              </p>
              <p class="small-text clear-text">{{ activity.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
