.layout
  min-height: 88vh

.logo
  max-height: 70px

.file-name
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.doc-card
  border: none
  .actions-button
    position: absolute
    right: 15px
    top: 15px
    opacity: .25
  &:hover
    box-shadow: 0px 8px 16px rgba(0, 39, 90, 0.15) !important
    .actions-button
      opacity: 1

.user-menu
  background-color: #fafafa
  padding: 4pt
  font-size: 10pt
  z-index: 1000
  box-shadow: 0 0 12pt rgba(0, 0, 0, 0.25)
  border-radius: 4pt
  padding: 0.5em 0 0.5em 0
  animation: fadeIn 0.1s ease-out
  opacity:1.0
  display: block
