<div class="card">
  <div class="card-body">
    <h3 class="card-title">{{ 'Security' | transloco }}</h3>
    <div class="row">
      <div class="col-md-3">
        <div (click)="goToSetting('users')" class="card shadow-medium setting-card">
          <div
            class="card-body d-flex flex-column align-items-center justify-content-center"
          >
            <span class="fas fa-users text-primary light fa-3x"></span>
            <h5 class="link-name">{{ 'Users' | transloco }}</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div (click)="goToSetting('roles')" class="card shadow-medium setting-card">
          <div
            class="card-body d-flex flex-column align-items-center justify-content-center"
          >
            <span class="fas fa-user-lock text-primary light fa-3x"></span>
            <h5 class="link-name">{{ 'Roles' | transloco }}</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div (click)="goToSetting('access')" class="card shadow-medium setting-card">
          <div
            class="card-body d-flex flex-column align-items-center justify-content-center"
          >
            <span class="fas fa-sitemap text-primary light fa-3x"></span>
            <h5 class="link-name">{{ 'Access' | transloco }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
