<form [formGroup]="assignationForm" (ngSubmit)="save()">
  <div class="modal-header">
    <h5 class="modal-title">{{ 'Assign quiz' | transloco }}</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="close"
      (click)="modal.dismiss()"
    >
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="title">{{ 'Title' | transloco }}</label>
          <input
            type="text"
            class="form-control"
            name="title"
            formControlName="title"
            id="title"
            aria-describedby="helpId"
            placeholder="Título de la asignación..."
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="group">{{ 'Group' | transloco }}</label>
          <select
            class="form-control custom-select"
            formControlName="group"
            [compareWith]="compareFn"
            name="group"
            id="group"
          >
            <option *ngFor="let group of groups$ | async" [ngValue]="group">
              {{ group.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="start-date">{{ 'Start date' | transloco }}</label>
          <sk-custom-datepicker
            id="start-date"
            name="start-date"
            formControlName="startDate"
          >
          </sk-custom-datepicker>
          <ngb-timepicker
            [meridian]="true"
            formControlName="startHours"
          ></ngb-timepicker>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="end-date">{{ 'End date' | transloco }}</label>
          <sk-custom-datepicker
            id="end-date"
            name="end-date"
            formControlName="endDate"
          ></sk-custom-datepicker>
          <ngb-timepicker
            [meridian]="true"
            formControlName="endHours"
          ></ngb-timepicker>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      [disabled]="!assignationForm.valid"
      type="submit"
      class="btn btn-primary"
    >
      Guardar
    </button>
  </div>
</form>
