<form [formGroup]="quizForm" (ngSubmit)="save()">
  <div class="row main-data">
    <div class="col-md-6 form-label-group">
      <input
        type="text"
        class="form-control"
        name="title"
        id="title"
        placeholder=" "
        [class.form-control-plaintext]="!isOwner"
        formControlName="title"
      />
      <label for="title">{{ 'Title' | transloco }}</label>
    </div>
    <div class="col-md-6 form-label-group">
      <select
        class="custom-select form-control"
        name="course"
        id="course"
        formControlName="course"
        [class.form-control-plaintext]="!isOwner"
        [compareWith]="compareFn"
      >
        <option selected>{{ '-Select-' | transloco }}</option>
        <option *ngFor="let course of courses$ | async" [ngValue]="course">
          {{ course.name }}
        </option>
      </select>
      <label for="course">{{ 'Course' | transloco }}</label>
    </div>
  </div>
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li [ngbNavItem]>
      <a ngbNavLink>
        {{ 'Questions' | transloco }}
      </a>
      <ng-template ngbNavContent>
        <div formArrayName="questions">
          <div
            class="card question-card"
            *ngFor="
              let question of quizForm.get('questions')['controls'];
              let i = index
            "
          >
            <div class="card-body" [formGroupName]="i">
              <h5 class="card-title">
                <span>{{ 'Question' | transloco }} {{ i + 1 }}</span>
                <span
                  class="fas fa-times float-end"
                  *ngIf="quizForm.get('questions')['controls'].length > 1"
                  (click)="removeQuestion(i)"
                >
                </span>
              </h5>
              <app-question-form
                [group]="quizForm.get('questions')['controls'][i]"
                [index]="i"
                (addOption)="addOption($event)"
                (removeOption)="removeOption(i, $event)"
              ></app-question-form>
            </div>
          </div>
        </div>
        <span
          (click)="addQuestion()"
          class="badge badge-primary badge-pill add-link"
        >
          <i
            class="fas fa-plus-circle fa-fw text-primary"
            aria-hidden="true"
          ></i>
          {{ 'Add question' | transloco }}
        </span>
      </ng-template>
    </li>
    <li [ngbNavItem]>
      <a ngbNavLink>
        {{ 'Preview' | transloco }}
      </a>
      <ng-template ngbNavContent>
        <app-quiz-preview [quiz]="quizForm.value"></app-quiz-preview>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
  <div class="float-button">
    <button
      *ngIf="quizForm.valid && quizForm.dirty && quiz?.id"
      type="button"
      class="btn btn-success rounded-pill"
      (click)="assignQuiz()"
    >
      <i class="fas fa-calendar-alt fa-fw" aria-hidden="true"></i>
      {{ 'Assign quiz' | transloco }}
    </button>
    <button
      *ngIf="isOwner"
      class="btn btn-primary rounded-pill"
      type="submit"
      [disabled]="!quizForm.valid || !quizForm.dirty || saving"
    >
      <i class="far fa-save fa-fw" aria-hidden="true"></i>
      {{ 'Save quiz' | transloco }}
    </button>
  </div>
</form>
