<td class="main-container" colspan="4">
  <div class="row">
    <div class="col-md-4">
      <h5>{{ 'Daily' | transloco }}</h5>
      <table class="table table-sm table-bordered">
        <thead>
          <tr>
            <th scope="col">{{ 'Title' | transloco }}</th>
            <th scope="col">{{ 'Score' | transloco }}</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let grade of grades$ | async">
            <tr *ngIf="grade.bucket.id === 1">
              <td>{{ grade.grade.name }}</td>
              <td
                class="font-weight-bold"
                [ngClass]="{
                  'success-text': grade.score >= 4,
                  'warning-text': grade.score >= 3 && grade.score < 4,
                  'danger-text': grade.score < 3
                }"
              >
                {{ grade.score | number: '1.1-1' }}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <h5>{{ 'Appreciation' | transloco }}</h5>
      <table class="table table-sm table-bordered">
        <thead>
          <tr>
            <th scope="col">{{ 'Title' | transloco }}</th>
            <th scope="col">{{ 'Score' | transloco }}</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let grade of grades$ | async">
            <tr *ngIf="grade.bucket.id === 2">
              <td>{{ grade.grade.name }}</td>
              <td
                class="font-weight-bold"
                [ngClass]="{
                  'success-text': grade.score >= 4,
                  'warning-text': grade.score >= 3 && grade.score < 4,
                  'danger-text': grade.score < 3
                }"
              >
                {{ grade.score | number: '1.1-1' }}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <h5>{{ 'Final Exam' | transloco }}</h5>
      <table class="table table-sm table-bordered">
        <thead>
          <tr>
            <th scope="col">{{ 'Title' | transloco }}</th>
            <th scope="col">{{ 'Score' | transloco }}</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let grade of grades$ | async">
            <tr *ngIf="grade.bucket.id === 3">
              <td>{{ grade.grade.name }}</td>
              <td
                class="font-weight-bold"
                [ngClass]="{
                  'success-text': grade.score >= 4,
                  'warning-text': grade.score >= 3 && grade.score < 4,
                  'danger-text': grade.score < 3
                }"
              >
                {{ grade.score | number: '1.1-1' }}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</td>
