<div class="modal-header">
  <h5 class="modal-title">
    {{ 'Contacts' | transloco }}
  </h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modal.dismiss()"
  ></button>
</div>
<div class="modal-body">
  <div class="mt-2">
    <sk-custom-table
      [items]="items$ | async"
      [selectedItems]="currentValue"
      [options]="table"
    ></sk-custom-table>
  </div>
</div>
<div [hidden]="contactsTable?.selectedItems.length === 0" class="modal-footer">
  <button
    class="btn btn-primary"
    (click)="modal.close(contactsTable.selectedItems)"
  >
    <i class="fas fa-check fa-fw" aria-hidden="true"></i>
    {{ 'Confirm' | transloco }}
  </button>
</div>
