<div class="card">
  <div class="card-body">
    <ng-container *ngIf="assignation$ | async as assignation">
      <h4 class="card-title">
        {{ assignation.title }}
      </h4>
      <p>
        {{ assignation?.course?.name }}
      </p>
    </ng-container>
    <ng-container *ngIf="results$ | async as results; else loading">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">{{ 'Student' | transloco }}</th>
            <th scope="col">{{ 'Status' | transloco }}</th>
            <th scope="col">{{ 'Completed' | transloco }}</th>
            <th scope="col">{{ 'Score' | transloco }}</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let result of results"
            [class.completed]="result.status === 2"
          >
            <th scope="row">{{ result.student.name }}</th>
            <td>
              <ng-container [ngSwitch]="result.status">
                <span class="badge badge-false badge-pill" *ngSwitchCase="0"
                  ><i
                    class="fas fa-exclamation-circle fa-fw"
                    aria-hidden="true"
                  ></i>
                  Pendiente</span
                >
                <span class="badge badge-danger badge-pill" *ngSwitchCase="1">
                  <i
                    class="fas fa-exclamation-circle fa-fw"
                    aria-hidden="true"
                  ></i
                  >Incompleto</span
                >
                <span class="badge badge-purple badge-pill" *ngSwitchCase="2"
                  ><i class="fas fa-check fa-fw" aria-hidden="true"></i>Por
                  calificar</span
                >
                <span class="badge badge-success badge-pill" *ngSwitchCase="3"
                  ><i class="fas fa-check-double fa-fw" aria-hidden="true"></i>
                  Calificado</span
                >
              </ng-container>
            </td>
            <td>
              <span [hidden]="result.status === 0">
                <i
                  class="fa fa-check-circle text-success me-2"
                  aria-hidden="true"
                ></i
                >{{ result.modificateDate | customDate: 'time' }}</span
              >
            </td>
            <td>
              <span
                *ngIf="result.status > 0"
                class="badge badge-pill badge-primary"
                >{{ result.points }} / {{ result.totalPoints }}</span
              >
            </td>
            <td class="text-center">
              <button
                [ngbTooltip]="'Ver examen'"
                *ngIf="result.status > 0"
                type="button"
                (click)="seeAnswers(result)"
                class="btn btn-primary btn-sm"
              >
                <i class="fas fa-eye fa-fw" aria-hidden="true"></i>
              </button>
              <button
                *ngIf="result.status > 0"
                [ngbTooltip]="'Reasignar examen'"
                type="button"
                class="btn ms-2 btn-success btn-sm"
                (click)="reAssign(result)"
              >
                <i class="fas fa-recycle fa-fw" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-template #loading>
      <sk-loading-modal></sk-loading-modal>
    </ng-template>
  </div>
</div>
