<div class="card">
  <div class="card-body">
    <h3 class="card-title">
      {{ result?.assignation.name }}
    </h3>
    <p>{{ 'quizDescription' | transloco }}</p>
    <ng-container *ngIf="quiz$ | async as quiz">
      <div *ngFor="let question of quiz.questions; let i = index" class="card">
        <div class="card-body">
          <h5 class="card-title" [innerHTML]="question.questionText"></h5>
          <div
            class="option d-flex align-items-center mb-2"
            *ngFor="let option of question.options"
            (click)="selectOption(i, question, option)"
          >
            <i
              class="fa-2x me-2"
              [ngClass]="{
                'fas fa-check-circle text-success': isSelected(i, option),
                'far fa-circle text-primary': !isSelected(i, option)
              }"
              aria-hidden="true"
            ></i>
            <div [ngxSummernoteView]="option.optionText "></div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<button
  type="button"
  [class.visible]="isReady"
  (click)="sendQuiz()"
  class="btn btn-success float-button rounded-pill"
>
  <i class="far fa-paper-plane fa-fw" aria-hidden="true"></i>
  {{ 'Send quiz' | transloco }}
</button>
