<h4 class="card-title">{{ 'Grades' | transloco }}</h4>
<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li *ngIf="student.active" [ngbNavItem]>
    <a ngbNavLink>
      <i class="far fa-calendar-plus fa-fw"></i>
      {{ 'Current year' | transloco }}
    </a>
    <ng-template ngbNavContent>
      <ng-container *ngIf="periods$ | async; let periods">
        <ul ngbNav #nav="ngbNav" class="nav-pills">
          <li [ngbNavItem] *ngFor="let period of periods">
            <a ngbNavLink>
              {{ period.name }}
            </a>
            <ng-template ngbNavContent>
              <app-grade-period
                [period]="period"
                [student]="student"
              ></app-grade-period>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </ng-container>
    </ng-template>
  </li>
  <li [ngbNavItem]>
    <a ngbNavLink>
      <i class="far fa-folder-open fa-fw"></i> {{ 'Archive' | transloco }}
    </a>
    <ng-template ngbNavContent>
      <app-archive-grades [student]="student"></app-archive-grades>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>
