<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          {{ 'Students count' | transloco }}
        </h4>
        <p class="titan-text text-primary text-center">{{ count$ | async }}</p>
      </div>
      <div class="card-footer">
        <a class="float-end" [routerLink]="['../students']"
          >{{ 'View all' | transloco }}
          <i class="fas fa-chevron-circle-right" aria-hidden="true"></i
        ></a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          {{ 'Total due' | transloco }}
        </h4>
        <p class="titan-text text-danger float-end">
          {{ totalDue$ | async | currency: 'PAB' }}
        </p>
      </div>
      <div class="card-footer">
        <a class="float-end" [routerLink]="['../collection']"
          >{{ 'Go to collection' | transloco }}
          <i class="fas fa-chevron-circle-right" aria-hidden="true"></i
        ></a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          {{ 'Total current' | transloco }}
        </h4>
        <p class="titan-text text-success float-end">
          {{ totalCurrent$ | async | currency: 'PAB' }}
        </p>
      </div>
      <div class="card-footer">
        <a class="float-end" [routerLink]="['../collection']"
          >{{ 'Go to collection' | transloco }}
          <i class="fas fa-chevron-circle-right" aria-hidden="true"></i
        ></a>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <h3>{{ 'Announcements' | transloco }}</h3>
    <ng-container *ngFor="let announcement of announcements$ | async">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            {{ announcement.title }}
            <span class="badge badge-pill badge-primary">{{
              announcement.author?.displayName
            }}</span>
          </h4>
          <div [ngxSummernoteView]="announcement.text"></div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
