<div class="container-fluid mt-2">
  <h4 class="mb-3">{{ exam.title }}</h4>
  <div
    *ngFor="let question of exam.questions; let i = index"
    class="card shadow-medium"
  >
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h5 class="card-title">Pregunta {{ i + 1 }}</h5>
        <span class="bold-text">Valor: {{ question.points }}</span>
      </div>
      <h6 class="clear-text">
        Tipo de pregunta: {{ question.type.name | transloco }}
      </h6>
      <div [ngxSummernoteView]="question.questionText" class="mb-4"></div>
      <div *ngIf="question.type.code === 0" class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label class="black-text" for="true-false-{{ i }}">Respuesta</label>
            <select
              class="form-control custom-select"
              name="true-false-{{ i }}"
              id="true-false-{{ i }}"
            >
              <option selected>Cierto</option>
              <option value="">Falso</option>
            </select>
          </div>
        </div>
      </div>
      <ng-container *ngIf="question.type.code === 1">
        <div
          class="option d-flex align-items-center mb-2"
          *ngFor="let option of question.options"
        >
          <i
            class="far fa-circle fa-2x me-2 text-primary"
            aria-hidden="true"
          ></i>
          <div [ngxSummernoteView]="option.optionText"></div>
        </div>
      </ng-container>
      <div *ngIf="question.type.code === 2" class="form-group">
        <label class="black-text" for="answer-{{ i }}">Respuesta</label>
        <input
          type="text"
          class="form-control"
          name="answer-{{ i }}"
          id="answer-{{ i }}"
        />
      </div>
      <div *ngIf="question.type.code === 3" class="form-group">
        <label class="black-text" for="answer-{{ i }}">Respuesta</label>
        <div id="answer-{{ i }}" [ngxSummernote]="config"></div>
      </div>
      <div class="row" *ngIf="question.type.code === 4">
        <div class="col-md-3">
          <div class="form-group">
            <label class="black-text" for="answer-{{ i }}">Respuesta</label>
            <input
              type="number"
              class="form-control"
              name="answer-{{ i }}"
              id="answer-{{ i }}"
              aria-describedby="helpId"
              placeholder=""
            />
          </div>
        </div>
      </div>
      <ng-container *ngIf="question.type.code === 5">
        <app-preview-match [question]="question"></app-preview-match>
      </ng-container>
    </div>
  </div>
</div>

