<div class="card">
  <div class="card-body">
    <h4 class="card-titlle">Quizes</h4>
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li ngbNavItem>
        <a ngbNavLink>
          Pendientes
        </a>
        <ng-template ngbNavContent>
          <div *ngIf="quizes$ | async as quizes; else loading">
            <div
              class="d-flex flex-column align-items-center justify-content-center my-5"
              *ngIf="!quizes.length"
            >
              <img class="no-quizes" src="assets/img/no-quizes.svg" alt="" />
              <p class="medium-text ink-text">
                {{ 'You dont have pending quizes' | transloco }}
              </p>
            </div>
            <div
              *ngFor="let quiz of quizes"
              [routerLink]="[quiz.id]"
              class="card"
            >
              <div class="card-body">
                <div class="row">
                  <div
                    class="col-md-8 d-flex flex-column justify-content-center"
                  >
                    <p class="title medium-text">
                      {{ quiz.assignation.name }} -
                      <small class="primary-text">{{
                        quiz.course.subject.name
                      }}</small>
                    </p>
                    <p class="regular-text clear-text">
                      {{ 'Points' | transloco }}: {{ quiz.totalPoints }}
                    </p>
                  </div>
                  <div
                    class="col-md-4 d-flex align-items-center justify-content-end"
                  >
                    <p class="primary-text">
                      <i class="fas fa-clock fa-fw" aria-hidden="true"></i>
                      {{ 'Due time' | transloco }} {{ formatDue(quiz.endDate) }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <ng-template #loading>
            <sk-loading-modal></sk-loading-modal>
          </ng-template>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>
          Realizados
        </a>
        <ng-template ngbNavContent>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Materia</th>
                <th scope="col">Quiz</th>
                <th scope="col">{{ 'Completed' | transloco }}</th>
                <th scope="col">{{ 'Score' | transloco }}</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let result of results$ | async"
                [class.completed]="result.status === 2"
              >
                <th scope="row">{{ result.course.subject.name }}</th>
                <td>{{ result.quiz.name }}</td>
                <td>
                  <span [hidden]="result.status !== 2">
                    <i
                      class="fa fa-check-circle text-success me-2"
                      aria-hidden="true"
                    ></i
                    >{{ result.modificateDate | customDate: 'time' }}</span
                  >
                </td>
                <td>
                  <span *ngIf="result.status === 2" class="badge badge-pill badge-primary"
                    >{{ result.points }} / {{ result.totalPoints }}</span
                  >
                </td>
                <td class="text-center">
                  <button *ngIf="result.status === 2" type="button" class="btn btn-primary btn-sm" (click)="seeAnswers(result)">Ver respuestas</button>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </div>
</div>
