<div class="row d-flex justify-content-center align-items-center">
  <div class="col-md-5">
    <form [formGroup]="passwordForm" (ngSubmit)="changePassword()" class="card">
      <div class="card-body">
        <h3 class="card-title">
          {{ 'Change password' | transloco }}
        </h3>
        <div class="form-group">
          <label for="new-password">{{ 'New password' | transloco }}</label>
          <input
            type="password"
            formControlName="password"
            autocomplete="new-password"
            class="form-control"
            name="new-password"
            id="new-password"
            placeholder="Ingrese contraseña"
          />
        </div>
        <div class="form-group">
          <label for="confirm-password">{{ 'Confirm password' | transloco }}</label>
          <input
            type="password"
            formControlName="confirmPassword"
            autocomplete="new-password"
            class="form-control"
            name="confirm-password"
            id="confirm-password"
            placeholder="Repita la contraseña"
          />
        </div>
      </div>
      <div class="card-footer">
        <button
          type="submit"
          class="btn btn-primary float-end"
          [disabled]="!passwordForm.valid"
        >
          {{ 'Save changes' | transloco }}
        </button>
      </div>
    </form>
  </div>
</div>
