<ng-template #loading>
  <sk-loading-modal></sk-loading-modal>
</ng-template>
<ng-container *ngIf="items; else loading">
  <ng-container *ngIf="options.permissions.read; else restricted">
    <div class="row justify-content-between top-bar">
      <div class="col-md-12">
        <h4 *ngIf="options.showTitle && options.title">{{ options.title }}</h4>
      </div>
      <div class="col-lg-6 col-md-8">
        <div *ngIf="options.searchable" class="form-group search-form">
          <input
            type="text"
            class="form-control"
            name="filter"
            id="filter"
            [(ngModel)]="searchText"
            (ngModelChange)="filterItems()"
            [placeholder]="'Search' | transloco"
          />
        </div>
      </div>
      <div class="col-md-6" *ngIf="options.type === 'select'">
        <span class="clear-text float-end"
          >{{ selectedItems.length }} of {{ filteredItems.length }}</span
        >
      </div>
      <div
        id="exports-buttons"
        class="col-md-6 d-flex justify-content-end pull-right"
      >
        <button
          *ngIf="options.exportToPDF"
          type="button"
          class="btn btn-outline-danger"
          (click)="generatePDF()"
          ngbTooltip="{{ 'Export as PDF' | transloco }}"
        >
          <i class="far fa-file-pdf fa-fw" aria-hidden="true"></i>
          {{ 'Export as PDF' | transloco }}
        </button>
        <button
          *ngIf="options.exportToCSV"
          type="button"
          class="btn btn-outline-success"
          (click)="exportCSV()"
          ngbTooltip="{{ 'Export as excel' | transloco }}"
        >
          <i class="far fa-file-excel fa-fw" aria-hidden="true"></i>
          {{ 'Export as excel' | transloco }}
        </button>
      </div>
    </div>
    <div class="table-responsive mt-3">
      <table
        class="sk-custom-table table table-bordered table-hover"
        [ngClass]="options.style"
        *ngIf="pagedItems"
      >
        <thead>
          <tr>
            <ng-container *ngFor="let header of options.columns">
              <th
                scope="col"
                class="text-nowrap"
                *ngIf="!header.hidden"
                (click)="sortByColumn(header)"
                [ngClass]="{ 'text-center': header.type === 'checkbox' }"
              >
                {{ header.title }}
                <ng-container>
                  <span *ngIf="sortColumn !== header.name">
                    <i class="fas fa-sort" aria-hidden="true"></i>
                  </span>
                  <span *ngIf="sortColumn === header.name && sortDesc">
                    <i class="fas fa-sort-amount-down" aria-hidden="true"></i>
                  </span>
                  <span *ngIf="sortColumn === header.name && !sortDesc">
                    <i class="fas fa-sort-amount-up" aria-hidden="true"></i>
                  </span>
                </ng-container>
              </th>
            </ng-container>
            <th
              scope="col"
              *ngIf="
                editItem.observers.length ||
                removeItem.observers.length ||
                customAction.observers.length ||
                options.detailsURL ||
                options.type === 'select' ||
                options.type === 'single-select'
              "
              class="text-center actions-header text-nowrap"
            >
              <ng-container *ngIf="options.type === 'select'">
                <span
                  class="action-button"
                  placement="left"
                  [ngbTooltip]="'Select all' | transloco"
                  [attr.arial-label]="'Select all' | transloco"
                  *ngIf="options.type === 'select'"
                  (click)="toggleSelectAll(true)"
                >
                  <i
                    *ngIf="!allSelected"
                    class="far fa-lg fa-square text-muted"
                    aria-hidden="true"
                  ></i>
                  <i
                    *ngIf="allSelected"
                    class="fas fa-lg fa-check-square text-primary"
                    aria-hidden="true"
                  ></i>
                </span>
              </ng-container>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="options.lookup" id="lookup-row">
            <ng-container *ngFor="let col of options.columns">
              <td *ngIf="!col.hidden">
                <select
                  [disabled]="!col.lookup"
                  [ngClass]="{ 'font-weight-bold': filterValues[col.name] }"
                  class="custom-select form-control form-control-sm"
                  [(ngModel)]="filterValues[col.name]"
                  (change)="changeFilter()"
                >
                  <option [ngValue]="undefined" selected>---Todos---</option>
                  <ng-container *ngIf="col.lookup">
                    <option
                      *ngFor="let value of col.lookupValues"
                      class="font-weight-bold"
                      [ngValue]="value"
                    >
                      {{ value }}
                    </option>
                  </ng-container>
                </select>
              </td>
            </ng-container>
            <td
              *ngIf="
                editItem.observers.length ||
                removeItem.observers.length ||
                customAction.observers.length ||
                options.detailsURL ||
                options.type === 'select' ||
                options.type === 'single-select'
              "
            ></td>
          </tr>
          <tr *ngIf="!pagedItems.length">
            <td class="text-center" [colSpan]="visibleColumns + 1">
              <img src="assets/img/no-data.svg" alt="" style="height: 140px" />
              <br />
              <strong>Sin elementos disponibles</strong>
            </td>
          </tr>
          <ng-container *ngFor="let item of pagedItems">
            <tr
              *ngIf="
                item.id !== selectedItem.id || options.addMethod !== 'inline'
              "
              (dblclick)="selectItem(item)"
            >
              <ng-container *ngFor="let col of options.columns">
                <td
                  [ngClass]="{ 'text-nowrap': col.type !== 'array' }"
                  [class.text-nowrap]="
                    col.type !== 'array' && col.type !== 'text'
                  "
                  *ngIf="!col.hidden"
                >
                  <ng-container [ngSwitch]="col.type">
                    <span *ngSwitchCase="'date'">
                      {{ item | column: col.name | date: 'd/MM/yyyy':'+0600' }}
                    </span>
                    <span *ngSwitchCase="'datetime'">
                      {{ item | column: col.name | date: 'd/MM/yyyy, h:mm a' }}
                    </span>
                    <span *ngSwitchCase="'decimal'">
                      {{ item | column: col.name | number: '1.3-3' }}
                    </span>
                    <span *ngSwitchCase="'email'">
                      <a
                        href="mailto:{{ item | column: col.name }}"
                        target="_blank"
                        >{{ item | column: col.name }}</a
                      >
                    </span>
                    <span *ngSwitchCase="'number'">
                      {{ item | column: col.name | number: '1.2-2' }}
                    </span>
                    <span *ngSwitchCase="'percent'">
                      {{ item | column: col.name | number: '1.2-2' }} %
                    </span>
                    <span *ngSwitchCase="'money'">
                      {{ item | column: col.name | currency: 'PAB' }}
                    </span>
                    <span *ngSwitchCase="'boolean'">
                      <span
                        [innerHTML]="item | column: col.name | boolean"
                      ></span>
                    </span>
                    <span *ngSwitchCase="'checkbox'">
                      <span
                        [innerHTML]="item | column: col.name | boolean"
                      ></span>
                    </span>
                    <span *ngSwitchCase="'object'">
                      {{ item | column: col?.objectText }}
                    </span>
                    <span
                      *ngSwitchCase="'array'"
                      [innerHTML]="item[col.name] | array: col.objectText"
                    >
                    </span>
                    <span *ngSwitchCase="'count'">
                      {{ item[col.name].length }}
                    </span>
                    <span *ngSwitchCase="'file'">
                      <a
                        [href]="col.fileURL + item[col.fileID]"
                        [target]="'blank'"
                        >{{ item | column: col.fileName }}</a
                      >
                    </span>
                    <span *ngSwitchDefault>
                      {{ item | column: col.name }}
                    </span>
                  </ng-container>
                </td>
              </ng-container>
              <td
                *ngIf="
                  removeItem.observers.length ||
                  editItem.observers.length ||
                  customAction.observers.length ||
                  options.detailsURL ||
                  options.type === 'select' ||
                  options.type === 'single-select'
                "
                class="text-center actions-cell"
              >
                <div
                  *ngIf="
                    options.type !== 'select' &&
                    options.type !== 'single-select'
                  "
                  ngbDropdown
                  container="body"
                >
                  <i
                    class="fas fa-ellipsis-v text-muted fa-fw pointer"
                    aria-hidden="true"
                    [id]="item.id + '-menu'"
                    ngbDropdownToggle
                  ></i>
                  <div
                    ngbDropdownMenu
                    [attr.aria-labelledby]="item.id + '-menu'"
                  >
                    <a
                      ngbDropdownItem
                      *ngIf="options.detailsURL && options.permissions.details"
                      class="d-flex align-items-center"
                      [routerLink]="getDetailsURL(item.id)"
                      [ngbTooltip]="'Details' | transloco"
                      [attr.aria-label]="'Details' | transloco"
                    >
                      <i
                        class="fas fa-search text-primary me-2"
                        aria-hidden="true"
                      ></i>
                      {{ 'Open' | transloco }}
                    </a>

                    <button
                      ngbDropdownItem
                      *ngIf="
                        options.permissions.edit &&
                        (editItem.observers.length ||
                          customAction.observers.length)
                      "
                      [ngbTooltip]="'Edit' | transloco"
                      [attr.aria-label]="'Edit' | transloco"
                      class="d-flex align-items-center"
                      (click)="selectItem(item)"
                    >
                      <i
                        class="far fa-edit text-success me-2"
                        aria-hidden="true"
                      ></i>
                      {{ 'Edit' | transloco }}
                    </button>
                    <button
                      *ngIf="
                        removeItem.observers.length &&
                        options.permissions.delete
                      "
                      ngbDropdownItem
                      class="d-flex align-items-center"
                      (click)="deleteItem(item)"
                      [ngbTooltip]="'Delete' | transloco"
                      [attr.aria-label]="'Delete' | transloco"
                    >
                      <i
                        class="far fa-trash-alt text-danger me-2"
                        aria-hidden="true"
                      ></i>
                      {{ 'Delete' | transloco }}
                    </button>
                  </div>
                </div>
                <span
                  class="action-button toggle-selection"
                  *ngIf="
                    options.type === 'select' ||
                    options.type === 'single-select'
                  "
                  (click)="toggleSelection(item)"
                >
                  <i
                    *ngIf="!item.selected"
                    class="far fa-lg fa-square text-muted"
                    aria-hidden="true"
                  ></i>
                  <i
                    *ngIf="item.selected"
                    class="fas fa-lg fa-check-square text-primary"
                    aria-hidden="true"
                  ></i>
                </span>
              </td>
            </tr>
            <tr
              class="table-info"
              *ngIf="
                item.id === selectedItem.id && options.addMethod === 'inline'
              "
            >
              <ng-container *ngFor="let col of options.columns">
                <td
                  *ngIf="!col.hidden"
                  [ngClass]="{ 'text-center': col.type === 'checkbox' }"
                >
                  <ng-container *ngIf="!col.readonly" [ngSwitch]="col.type">
                    <select
                      *ngSwitchCase="'boolean'"
                      class="form-control custom-select"
                      [(ngModel)]="selectedItem[col.name]"
                      [name]="col.name"
                    >
                      <option value="null" disabled>---</option>
                      <option
                        *ngFor="let val of booleanValues"
                        class="font-weight-bold"
                        [ngValue]="val.value"
                      >
                        {{ val.display }}
                      </option>
                    </select>
                    <input
                      *ngSwitchCase="'checkbox'"
                      [checked]="selectedItem[col.name]"
                      class="form-control"
                      type="{{ col.type }}"
                      (change)="
                        selectedItem[col.name] = !selectedItem[col.name]
                      "
                    />
                    <input
                      *ngSwitchDefault
                      class="form-control"
                      type="{{ col.type }}"
                      [(ngModel)]="selectedItem[col.name]"
                      placeholder="{{ col.title }}"
                    />
                    <select
                      *ngSwitchCase="'object'"
                      class="form-control custom-select"
                      [(ngModel)]="selectedItem[col.objectID]"
                      [name]="col.name"
                      [id]="col.name"
                    >
                      <option
                        *ngFor="let val of col.list"
                        [value]="val[col.listID]"
                      >
                        {{ val[col.listDisplay] }}
                      </option>
                    </select>
                  </ng-container>
                  <ng-container *ngIf="col.readonly" [ngSwitch]="col.type">
                    <ng-container *ngSwitchCase="'date'">
                      {{ item | column: col.name | date: 'dd/MM/yyyy':'+0600' }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'datetime'">
                      {{
                        item
                          | column: col.name
                          | date: 'd/MM/yyyy, h:mm a':'-0600'
                      }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'decimal'">
                      {{ item | column: col.name | number: '1.3-3' }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'boolean'">
                      <span
                        [innerHTML]="item | column: col.name | boolean"
                      ></span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'checkbox'">
                      <span
                        [innerHTML]="item | column: col.name | boolean"
                      ></span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'object'">
                      {{ item | column: col.objectColumn }}
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      {{ item | column: col.name }}
                    </ng-container>
                  </ng-container>
                </td>
              </ng-container>
              <td class="text-center actions-cell">
                <span
                  class="action-button"
                  (click)="updateItem()"
                  placement="top"
                  ngbTooltip="Guardar Cambios"
                >
                  <i
                    class="fas fa-lock fa-lg text-success"
                    aria-hidden="true"
                  ></i>
                </span>
                <span
                  class="action-button"
                  (click)="cancelSelect()"
                  placement="top"
                  ngbTooltip="Cancelar"
                >
                  <i
                    class="fas fa-times fa-lg text-danger"
                    aria-hidden="true"
                  ></i>
                </span>
              </td>
            </tr>
          </ng-container>
          <tr
            *ngIf="
              (editItem.observers.length || removeItem.observers.length) &&
              options.addMethod === 'inline' &&
              addItem.observers.length
            "
          >
            <ng-container *ngFor="let col of options.columns">
              <td *ngIf="!col.hidden">
                <ng-container *ngIf="!col.readonly" [ngSwitch]="col.type">
                  <select
                    *ngSwitchCase="'object'"
                    class="form-control custom-select"
                    [(ngModel)]="newItem[col.objectID]"
                    [name]="col.name"
                    [id]="col.name"
                  >
                    <option value="undefined" disabled>
                      --- Seleccionar ---
                    </option>
                    <option
                      *ngFor="let val of col.list"
                      [value]="val[col.listID]"
                    >
                      {{ val[col.listDisplay] }}
                    </option>
                  </select>
                  <select
                    *ngSwitchCase="'boolean'"
                    class="form-control custom-select"
                    [(ngModel)]="newItem[col.name]"
                    [name]="col.name"
                  >
                    <option value="undefined" disabled>---</option>
                    <option
                      *ngFor="let val of booleanValues"
                      class="font-weight-bold"
                      [ngValue]="val.value"
                    >
                      {{ val.display }}
                    </option>
                  </select>
                  <input
                    *ngSwitchDefault
                    class="form-control"
                    type="{{ col.type }}"
                    [(ngModel)]="newItem[col.name]"
                    placeholder="{{ col.title }}"
                  />
                </ng-container>
              </td>
            </ng-container>
            <td class="text-center">
              <span
                (click)="createItem()"
                placement="top"
                ngbTooltip="Agregar elemento"
              >
                <i
                  class="far fa-plus-square fa-lg text-primary"
                  aria-hidden="true"
                ></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row justify-content-between paginator">
      <div class="col-md-8 d-flex">
        <ng-container *ngIf="options.pageable">
          <sk-paginator
            [pageSize]="options.pageSize"
            [itemsCount]="itemsCount"
            (paginate)="setPage($event)"
            class="d-flex"
          ></sk-paginator>
        </ng-container>
      </div>
      <div class="col-md-4">
        <button
          *ngIf="
            options.addMethod === 'modal' &&
            options.permissions.create &&
            (addItem.observers.length || customCreate.observers.length)
          "
          type="button"
          class="btn btn-primary float-end"
          (click)="openModal()"
        >
          {{ 'New item' | transloco }}
        </button>
        <a
          *ngIf="options.newURL && options.permissions.create"
          [routerLink]="options.newURL"
          class="btn btn-primary float-end"
        >
          {{ 'New item' | transloco }}
        </a>
      </div>
    </div>
  </ng-container>
  <ng-template #restricted>
    <div
      class="d-flex flex-column justify-content-center align-items-center"
      style="min-height: 75vh"
    >
      <img src="assets/img/restricted-data.svg" class="mb-3" />
      <h5>{{ 'Restricted data message' | transloco }}</h5>
    </div>
  </ng-template>
</ng-container>
