<div class="card" *ngIf="teacher$ | async as teacher; else loading">
  <div class="card-body">
    <h4 class="card-title">{{ 'Teacher profile' | transloco }}</h4>
    <div class="row">
      <div class="col-md-3">
        <p class="label">{{ 'Name' | transloco }}</p>
        <p class="element">{{ teacher.name }}</p>
      </div>
      <div class="col-md-3">
        <p class="label">{{ 'Birthday' | transloco }}</p>
        <p class="element">{{ teacher.birthDate | date: 'dd MMMM' }}</p>
      </div>
      <div class="col-md-3">
        <p class="label">{{ 'Bi' }}</p>
      </div>
    </div>
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li [ngbNavItem]>
        <a ngbNavLink>
          <i class="fas fa-laptop-code" aria-hidden="true"></i>
          {{ 'Courses' | transloco }}
        </a>
        <ng-template ngbNavContent> </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>
<ng-template #loading>
  <sk-loading-modal></sk-loading-modal>
</ng-template>
