<form
  [formGroup]="form"
  (keydown.enter)="$event.preventDefault()"
  (ngSubmit)="validateForm()"
  novalidate
>
  <div class="modal-header">
    <h5 class="modal-title" *ngIf="!item.id">{{ 'New item' | transloco }}</h5>
    <h5 class="modal-title" *ngIf="item.id">{{ 'Edit item' | transloco }}</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="close"
      (click)="activeModal.dismiss('close button')"
    ></button>
  </div>
  <div class="modal-body">
    <ng-container *ngFor="let field of fields">
      <div class="form-group row" *ngIf="!field.readonly">
        <label for="{{ field.name }}" class="col-sm-4 col-form-label"
          >{{ field.title }}
          <small *ngIf="!field.required" class="optional-label">{{
            'Optional' | transloco
          }}</small>
        </label>
        <div class="col-sm-8">
          <ng-container [ngSwitch]="true">
            <select
              *ngSwitchCase="field.type === 'object'"
              [compareWith]="compareFn"
              [formControlName]="field.name"
              (ngModelChange)="updateObject($event)"
              class="custom-select form-control"
              [required]="field.required"
              [name]="field.name"
              [id]="field.name"
            >
              <option [ngValue]="undefined" [disabled]="field.required">
                {{ '-Select-' | transloco }}
              </option>
              <ng-container *ngIf="field.list">
                <option
                  *ngFor="let val of field.list"
                  [hidden]="field.removeSelf && item.id === val.id"
                  [ngValue]="val"
                >
                  {{ field.listDisplay ? val[field.listDisplay] : val.name }}
                </option>
              </ng-container>
            </select>

            <select
              *ngSwitchCase="field.type === 'boolean'"
              [required]="field.required"
              [formControlName]="field.name"
              (ngModelChange)="updateObject($event)"
              class="custom-select form-control"
              [name]="field.name"
              [id]="field.name"
            >
              <option [value]="undefined" [disabled]="true">
                {{ '-Select-' | transloco }}
              </option>
              <option [ngValue]="true">{{ 'Yes' | transloco }}</option>
              <option [ngValue]="false">{{ 'No' | transloco }}</option>
            </select>
            <textarea
              *ngSwitchCase="field.type === 'text'"
              [required]="field.required"
              class="form-control"
              [id]="field.name"
              [name]="field.name"
              [cols]="2"
              [readOnly]="field.readonly"
              [formControlName]="field.name"
              (ngModelChange)="updateObject($event)"
            ></textarea>
            <sk-custom-datepicker
              [formControlName]="field.name"
              [required]="field.required"
              [id]="field.name"
              (ngModelChange)="updateObject($event)"
              *ngSwitchCase="field.type === 'datetime' || field.type === 'date'"
            ></sk-custom-datepicker>
            <input
              *ngSwitchCase="field.type === 'money' || field.type === 'number'"
              [formControlName]="field.name"
              (ngModelChange)="updateObject($event)"
              [required]="field.required"
              type="number"
              class="form-control"
              [readOnly]="field.readonly"
              [ngClass]="{ 'form-control-plaintext': field.readonly }"
              [id]="field.name"
              [name]="field.name"
            />
            <input
              *ngSwitchCase="field.type === 'file'"
              [required]="field.required"
              (ngModelChange)="updateObject($event)"
              type="file"
              class="form-control"
              accept=".pdf, .jpg, .jpeg, .png"
              (change)="setFile($event, field)"
            />
            <sk-custom-select
              *ngSwitchCase="field.type === 'array'"
              [items]="field.list"
              [displayValue]="field.objectText"
              [multiple]="true"
              [placeholder]="'Select value' | transloco"
              [formControlName]="field.name"
              (ngModelChange)="updateObject($event)"
              [id]="field.name"
            >
            </sk-custom-select>
            <input
              *ngSwitchDefault
              [formControlName]="field.name"
              (ngModelChange)="updateObject($event)"
              [required]="field.required"
              type="text"
              class="form-control"
              [readOnly]="field.readonly"
              [ngClass]="{ 'form-control-plaintext': field.readonly }"
              [id]="field.name"
              [name]="field.name"
            />
          </ng-container>
          <ng-container
            *ngIf="
              form.get(field.name).invalid &&
              (form.get(field.name).dirty || form.get(field.name).touched)
            "
          >
            <div
              class="invalid-feedback"
              *ngIf="
                form.get(field.name).errors?.pattern && field.type === 'email'
              "
            >
              {{ 'email message error' | transloco }}
            </div>
            <div
              class="invalid-feedback"
              *ngIf="
                form.get(field.name).errors?.pattern &&
                field.type === 'home-phone'
              "
            >
              {{ 'home phone message error' | transloco }}
            </div>
            <div
              class="invalid-feedback"
              *ngIf="
                form.get(field.name).errors?.pattern &&
                field.type === 'mobile-phone'
              "
            >
              {{ 'mobile phone message error' | transloco }}
            </div>
            <div
              class="invalid-feedback"
              *ngIf="form.get(field.name).errors?.required"
            >
              {{ 'required message error' | transloco }}
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button ngbAutofocus type="submit" class="btn btn-primary">
      <i class="far fa-save fa-fw" aria-hidden="true"></i>
      {{ 'Save' | transloco }}
    </button>
  </div>
</form>
