.container
  padding: 0 4rem

.btn-block
  margin-bottom: 1rem

.card
  &.mine
    border-bottom: 3px solid var(--primary-500) !important
    .card-title
      color: var(--primary-600)

.badge-pill
  font-size: .75rem
